[2017-05-05 23:27] luislaborda opened #877 "Is SonataUserBundle compatible with Symfony 3.2.*?"
I saw already an issue around compatibility with Symfony 3.2, but I don't recall seeing a clear response. Is there any updates?

My composer output:
 - Installation request for sonata-project/user-bundle dev-master -> satisfiable by sonata-project/user-bundle[dev-master].
- Conclusion: don't install symfony/symfony v3.2.2
- sonata-project/user-bundle dev-master requires symfony/form ^2.3  -> satis

[2017-05-07 19:27] marioafonso commented on #877
greetings,

I'm using Symfony 3.2.8.

I'm also using FOSUserBundle version 2.0 as the 1.3 version is targeted to older Symfony versions.

Running `composer require sonata-project/user-bundle` outputs this:

Using version ^3.2 for sonata-project/user-bundle
(...)

  Problem 1
    - sonata-project/user-bundle 3.2.3 requires friendsofsymfony/user-bundle ^1.3 -> satisfiable by friendsofsymfony/user-bu

[2017-05-07 21:38] marioafonso commented on #877
I just saw a pull request is on its way :)

https://github.com/sonata-project/SonataUserBundle/pull/869

I'll wait for this to be merged. Thanks.

[2017-05-10 04:50] OskarStark commented on #794
Closed via #869

[2017-05-10 04:50] #794 closed

[2017-05-10 04:50] OskarStark commented on #779
Closed via #869

[2017-05-10 04:50] #779 closed

[2017-05-10 04:50] OskarStark commented on #702
Closed via #869

[2017-05-10 04:50] #702 closed

[2017-05-10 04:50] OskarStark commented on #672
Closed via #869

[2017-05-10 04:50] #672 closed

[2017-05-10 04:50] OskarStark commented on #666
Closed via #869

[2017-05-10 04:50] #666 closed

[2017-05-10 04:50] OskarStark commented on #322
Closed via #869

[2017-05-10 04:50] #322 closed

[2017-05-10 04:50] OskarStark commented on #379
Closed via #869

[2017-05-10 04:50] #379 closed

[2017-05-10 04:50] OskarStark commented on #563
Closed via #869

[2017-05-10 04:50] #563 closed

[2017-05-10 04:51] OskarStark commented on #553
Closed via #869

[2017-05-10 04:51] #553 closed

[2017-05-10 04:51] OskarStark commented on #444
Closed via #869

[2017-05-10 04:51] #444 closed

[2017-05-10 04:51] OskarStark commented on #410
Closed via #869

[2017-05-10 04:51] #410 closed

[2017-05-10 04:51] OskarStark commented on #409
Closed via #869

[2017-05-10 04:51] #409 closed

[2017-05-10 04:51] OskarStark commented on #627
Closed via #869

[2017-05-10 04:51] #627 closed

[2017-05-10 08:31] jordisala1991 commented on #877
It is merged now. Closing

[2017-05-10 08:31] #877 closed

[2017-05-15 12:36] anboo opened #878 "Type error: Argument 1 passed to Symfony\Component\Form\FormRenderer::setTheme() must be an instance of Symfony\Component\Form\FormView, null given"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce
HouseAdmin.php:
[code]

ImageAdmin.php:
[code]

House.php:
[code]

Image.php:
[code]

## Expected results
Correct, without errors :)

## Actual results
Incorrect froms :)
![alt text](http://dl4.joxi.net/drive/2017/05/15/0019/2526/1264094/94/2fdec647b4.jpg "Error

[2017-05-15 12:55] anboo commented on #878
URL:
http://real.dev/admin/core/append-form-field-element?code=property.admin.house&elementId=s5919a4efc66a8_images&objectId=1&uniqid=s5919a4efc66a8

[2017-05-15 14:44] PurpleBooth commented on #568
Any news on this issue, it's been depreciated for about a year now.

Is this project still under active development?

[2017-05-15 15:00] core23 commented on #568
Yes, we're working on the next major release.

We would appreciate new contributors. Feel free to improve the code @PurpleBooth 👍

[2017-05-15 18:55] PurpleBooth commented on #568
Sure, I'm happy to submit a patch, probably be sometime tomorrow

[2017-05-18 08:51] Filoz opened #879 "intl-bundle 2.3.0 conflicts with sonata-project/user-bundle dev-master"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I use   `"sonata-project/user-bundle": "dev-master"` because of I'm using `"friendsofsymfony/user-bundle": "~2.0"`

but when I run `composer update` I get the following error

[code]

[2017-05-18 09:01] Filoz commented on #879
the "problem" is in sonata intl

https://github.com/sonata-project/SonataIntlBundle/blob/master/composer.json#L37

[2017-05-19 11:52] edrush opened #880 "Profile / authentication / change password forms in admin layout"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I've been searching for this in the issues, I hope I didn't miss it. In SonataUserBundle 2 and 3 there was a profile page with three forms (profile/authentication/change password) under the _profile/edit-profile_ route. Since I am using SF3 and need SonataIntlBundle as well I was (I t

[2017-05-19 12:22] core23 commented on #880
The `add_support_for_fos_user2` branch is outdated, please try the current `master` branch. This has the full symfony 3 / FOS 2 support

[2017-05-19 12:28] edrush commented on #880
Hi, thank you, I did, but it then conflicted with SonataIntlBundle. The described subject was the same.

[2017-05-19 12:34] OskarStark commented on #880
You mean this one?
https://github.com/sonata-project/SonataUserBundle/issues/879

[2017-05-19 12:49] edrush commented on #880
Exactly, I think this should be regarded as well. But for my case, the profile actions seem to get removed forever in favor of FOSUserBundle (https://github.com/sonata-project/SonataUserBundle/commit/b6884bc1fcbf7b76e179b7f5337e425ba474fb9f#commitcomment-22087809).

[2017-05-20 14:32] greg0ire commented on #879
See https://github.com/sonata-project/SonataIntlBundle/pull/114
@Soullivaneuh, any comments on this?

[2017-06-04 10:48] psyray commented on #879
Same problem for me. I think this "bug" could be marked as **confirmed** :)
2.0 FOSUserBundle is necessary because of Symfony 3.2 usage.

Here's my config.
[code]
[code]

[code]

[2017-06-05 21:56] Tofandel opened #883 "Issues with twig 2.x"
The profiles templates are not compatible with twig 2.x

They are usually throwing errors when rendering like :

Or for the AdminBundle templates

But when you downgrade to twig 1.x the issue is gone.

Would be nice to have these templates compatible with twig 2

[2017-06-06 06:53] greg0ire commented on #883
Would you like to provide PRs to fix that?

[2017-06-06 08:41] Tofandel commented on #883
If I have time maybe, but I tried fixing it and didn't succeed. So switched back to twig 1.34.

[2017-06-23 10:14] jez1313 opened #887 "Sonata UserBundle install Issue Symfony[3.3.2]"
### Environment : Symfony 3.3.2

#### Sonata packages : Sonata UserBundle

Hello, I have a problem installing Sonta UserBundle when I do
php composer.phar require sonata-project / user-bundle --no-update
 then
 php composer.phar update
 I have the following error :
Problem 1
-Conclusion: don't install sonata-project/user-bundle 3.2.4
-Conclusion: don't install sonata-project/user-bundle 3.2.3
-Con

[2017-06-23 10:27] OskarStark commented on #887
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

Currently the version 3 of user-bundle is not compatible with Sf3, you could try the dev-master, but we don't reccommend this...

[2017-06-23 10:27] #887 closed

[2017-07-03 11:29] xaben commented on #603
Hello, I encountered the same issue.

I got it resolved by extending ```Sonata\UserBundle\Entity\BaseUser``` instead of ```FOS\UserBundle\Model\User``` .  Please check if it fixes the issue.

@OskarStark I think we need to add a check for extended class or introduce an interface in order not to force people into using the concrete base class implementation. What do you think?

[2017-07-16 10:08] gremo opened #888 "Admin password reset logic is wrong"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

The admin password reset logic is wrong. If you try to reset your password AND you didn't imported FOSUser fronted routes (I don't need register/login/reset login in the frontend), you get an error.

Even if you import routes, you receive a wrong reset url in the resetting email, con

[2017-07-16 23:30] TinghuiWang opened #889 "MissingPropertyMetadataException on BaseUser:$groups (With SonataDoctrineORMAdminBundle 3.1.6)"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

In recent release of SonataDoctrineORMAdminBundle, a MissingPropertyMetadataException is added if propertyName could not be found in mappings (see [SonataDoctrineORMAdminBundle#676](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/676)).

As a result, when accessin

[2017-07-16 23:36] #889 closed

[2017-08-04 16:50] loconox opened #893 "Menu items in profile page never active"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

On the page `/profile` there is a menu rendered from the block `sonata.user.block.menu`. The item 'Dashbord' of this menu should be active because it's the current page.

To determine which item of the menu should be active, `KnpMenu` use a Matcher and a collection of voters. For ins

[2017-08-04 17:43] greg0ire commented on #893
Is having both routes enabled really necessary?

[2017-08-04 17:49] loconox commented on #893
That's the default configuration from the UserBundle. In fact, that seems to be a wroking workarround. By redefining each routes and not including `sonata_profile_1.xml` I solved my issue.

If `fos_user_*` routes are not necessary, it might be a good idea to remove them from sonata routing files ?

[2017-08-04 17:52] greg0ire commented on #893
Does [this](https://github.com/sonata-project/SonataUserBundle/blob/89f36ae6bd8e2cae3e1c945ade287e87cef3d578/Resources/doc/reference/installation.rst#use-custom-sonatauser-controllers-and-templates-instead-of-fosuser-ones) answer your question?

[2017-08-04 17:54] loconox commented on #893
Well, I don't know if those fos routes are used in any way, if not, I'm good.

[2017-08-04 17:56] greg0ire commented on #893
The docs tell you you can safely choose to replace them with the sonata routes, don't they? They don't tell you to keep both.

[2017-08-04 20:25] loconox commented on #893
Well, it says to add this in my routing.yml:
[code]
and the file `sonata_profile_1.xml` itself contains both routes. That's why I was wondering if there is any reason for this.

[2017-08-04 22:14] greg0ire commented on #893
Oh wow that's quite weird

[2017-08-04 22:16] greg0ire commented on #893
Had a look at the routes, the only difference is there name... @Bladrak , can you please explain?

[2017-08-13 16:23] ArmandArthur opened #895 "Routing sonata_security_1.xml"
Hello,

I'm under symfony 3.3.6 and try do https://sonata-project.org/bundles/user/3-x/doc/reference/installation.html.

I finished the tutorial and i have en error:

[code]
Sure, the file doesn't existe in the repository vendor, why?

[2017-08-14 07:48] jordisala1991 commented on #895
If you are using Symfony 3.x, you must be using SonataUser dev-master, don't you?

follow those other installation instructions: https://sonata-project.org/bundles/user/master/doc/reference/installation.html

[2017-08-14 12:26] ArmandArthur commented on #895
I don't know if i use dev-master. But i found the files on https://childrensrefuge.com/vendor/sonata-project/user-bundle/Resources/config/routing/.

[2017-08-15 10:09] jaikdean opened #897 "PHP versions in Composer and Travis CI configs vary"
On the `master` (4.x-dev) branch, the `composer.json` specifies a requirement for PHP `^7.0`, however `.travis.yml` only tests with 7.1 and nightly versions.

I'm not sure what requirement has been decided on, but it looks like one of them needs correcting.

[2017-08-15 17:00] greg0ire commented on #897
IIRC we decided to use 7.1 I'm on my phone and can hardly provide a source to back this up though

[2017-08-29 08:05] Bladrak commented on #893
@greg0ire it's been a long time, but I think this might have to do with preserving backwards compatibility at the time. Might not be needed anymore though.

[2017-08-29 15:28] haivala commented on #878
I have the same problem.
In my case the Admin generated that error when the form was done like this:
[code]

If its out of the route check, it works..

[2017-08-30 05:27] OskarStark commented on #878
Why does this issue belongs to the Userbundle?

[2017-08-30 08:23] jordisala1991 commented on #895
What do you have on composer.json?

[2017-08-30 11:12] haivala commented on #878
It does not.. I just googled the error and found this

[2017-08-31 12:11] borjadinamic opened #901 "User Entity error on dev-master"
Symfony 3.3 and installing SonataUserBundle dev-master to work with Symfony 3.3

### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce
Just install, configure and run

[2017-08-31 12:18] borjadinamic commented on #901
I found a fix for it:

`use Symfony\Component\Security\Core\User\UserProviderInterface;

/**
 * @author Hugo Briand <briand@ekino.com>
 */
class UserManager extends BaseUserManager implements UserManagerInterface, ManagerInterface, UserProviderInterface
{
    /**
     * {@inheritdoc}
     */
    public function findUsersBy(array $criteria = null, array $orderBy = null, $limit = null, $offset = nul

[2017-09-06 20:09] tmac14 opened #902 "Can't load Application/Sonata/ApplicationSonataUserBundle"
Hi, Im following the installation guide step-by-step and Im getting the next error:

[code]

[2017-09-06 20:50] tmac14 commented on #902
Yes, thanks you. Im newbie.

[2017-09-06 20:52] #902 closed

[2017-09-14 09:24] Matan commented on #901
@fdyckhoff fix works for me!

[2017-09-14 09:26] borjadinamic commented on #901
Thanks for fix, closing.

[2017-09-14 09:39] Matan commented on #901
@fdyckhoff will you create a PR? I don't want to run my project off a fork forever :D

[2017-09-14 09:41] OskarStark commented on #901
Yes, please provide a PR against `master`

[2017-09-14 09:44] OskarStark commented on #901
@jordisala1991 can you verify this?

[2017-09-14 09:55] jordisala1991 commented on #901
I didn't try it on SF3.3, on 3.2 it was not necessary. Maybe that was a change on Symfony?

[2017-09-15 09:09] aibragimov4xxi opened #903 "Symfony 3.3 requirements problems"
Hi,
I'am trying to require "sonata-project/user-bundle" with composer, but get following error:
[code]

My composer.json require section:
[code]

Actually i don't understand, why "sonata-project/user-bundle" requires "friendsofsymfony/user-bundle ^1.3" if Symfony 2.8+ supported only by friendsofsymfony/user-bundle ~2.0 .
So can I use Symfony 3.3 with "sonata-project/user-bundle" ?

[2017-09-15 09:10] greg0ire commented on #903
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-09-15 09:10] #903 closed

[2017-09-17 12:51] core23 opened #904 "Remove bundle inheritance"
The bundle inheritance will be removed with the next symfony major release, so we must remove it in our bundle too: https://github.com/sonata-project/SonataUserBundle/blob/3.x/SonataUserBundle.php#L21-L37

Refs: https://github.com/symfony/symfony/commit/20be9fe2fe40c0c22978f8941bd660fe39170c4d

[2017-09-18 12:19] Matan commented on #901
Seems like @fdyckhoff is AKF. Mind if I create the PR?

[2017-09-18 12:19] greg0ire commented on #901
We don't mind, please do.

[2017-09-19 13:22] core23 commented on #904
Closed with #869

[2017-09-19 13:22] #904 closed

[2017-09-25 08:51] Hanmac opened #911 "Symfony Roles with hierachy are not translateable in SecurityRolesType"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Symfony Roles are not translateable when using Roles for User Admin secruity when they have hierachy.

## Steps to reproduce
use `sonata.admin.security.handler.role` as `sonata_admin.security.handler`
have `security.role_hierarchy` with a role with hierachy like `ROLE_ADMIN:

[2017-09-26 07:31] victorvassilev opened #912 "SonataUserBundle/Entity/BaseGroup.php incompatibility with core requirement"
### Environment
all

### Symfony Version
3.3.9

#### PHP version
7.1
[code]

[2017-09-26 07:41] greg0ire commented on #912
Please format your message properly.

[2017-09-26 08:54] victorvassilev commented on #912
No thanks, you are either interested in finding and fixing a bug that renders the software inoperable or not.

[2017-09-26 08:57] OskarStark commented on #912
1) this is not a bug, we know how to make it work
2) you are cheeky
3) we are fixing a lot of bugs every day across multiple repositories

....

[2017-09-26 08:57] #912 closed

[2017-09-26 08:58] greg0ire commented on #912
Good luck getting the bug fixed with that attitude.

[2017-09-26 10:34] JonathanBaudoin opened #913 "Migrate to Symfony3"
Hi all,

This is not an issue, this is a proposal (I didn't know where to post).

My company works with Symfony and Sonata (Core, Admin, Media, Classification, User...). For now, we're on Symfony 2.8, but we would like to migrate to SF3 (3.3). It seems that only SonataUserBundle prevents us to do it. That's why we (my company) propose to help with the SF3 migration. We have already proposed some p

[2017-09-26 11:27] greg0ire commented on #913
@jordisala1991 can you help? IIRC master already has sf3 support, right?

[2017-09-26 11:29] jordisala1991 commented on #913
Master works with SF 3, but not with 3.3, there are some issues that are being worked AFAIK.

[2017-09-26 11:31] baurelien commented on #913
@greg0ire Master may be compatible, but what prevents a stable 4.x version to be published ?

[2017-09-26 11:32] greg0ire commented on #913
There are a number of depended on sonata libs that we wish to release first. See https://github.com/sonata-project/dev-kit/issues/216
cache and exporter are ready, for instance.

[2017-09-26 12:15] JonathanBaudoin commented on #913
So if I understand, the 4.x depends on the list you mentioned ? Or maybe SF3 compatibility is for 3.x, and 4.x will be for SF4 ? Have you made a decision for that?

[2017-09-26 12:20] Soullivaneuh commented on #913
Thanks for your interests.

As usual, you can help by proposing PR that fix compatibility issues on master.

For the releasing, this is just on WIP. But you can always use the master branch and lock at a specific commit waiting that. Use branch aliases if you have conflict issues.

You can also discuss about Sonata projects here: https://github.com/sonata-project/dev-kit/issues

I close this issue

[2017-09-26 12:20] greg0ire commented on #913
1. SF3 compat will be for SonataUser v4
2. SonataUser depends on
    - sonata-project/admin-bundle: need help
    - sonata-project/core-bundle: need help
    - sonata-project/datagrid-bundle: need help
    - sonata-project/doctrine-extensions: need help
    - sonata-project/easy-extends-bundle: almost ready
    - sonata-project/google-authenticator : done

Not sure if we will wait for the admin re

[2017-09-26 12:26] #913 closed

[2017-10-02 03:44] gomcodoctor commented on #901
simply use this

providers:
        fos_userbundle:
            id: fos_user.user_provider.username

Do not use fos_user.usermanager as documented in installation

[2017-10-02 18:05] jxamorro commented on #879
What is necesary to resolve this problem?

[2017-10-03 12:51] dotpanic opened #915 "Side effects while enabling google authenticator"
### Environment

XAMPP / Windows

#### Sonata packages

sonata-project/admin-bundle              3.23.0             The missing Symfony Admin Generator
sonata-project/block-bundle              3.4.0              Symfony SonataBlockBundle
sonata-project/cache                     1.0.7              Cache library
sonata-project/core-bundle               3.5.1              Symfony SonataCoreBundle
son

[2017-10-04 08:55] jeroendk opened #916 "Sonata\UserBundle\Block\ classes used by Sonata ecommerce"
In the dev-master / 4.x-dev branche the classes under Sonata\UserBundle\Block\  are deprecated.
How should this be handled by the other bundles like the Sonata ecommerce bundle that uses "Sonata\UserBundle\Block\Breadcrumb\BaseUserProfileBreadcrumbBlockService"  ?

[2017-10-04 15:21] core23 commented on #916
Sorry, I don't get it. Which classes are you talking about? We don't have any deprecated classes under the package `Sonata\UserBundle\Block`.

[2017-10-04 15:29] jeroendk commented on #916
Hi !

When i look at the master branche the block folder is not there right ?
Perhaps I do not understand the versions yet but in this commit the classes seem to be removed:
https://github.com/sonata-project/SonataUserBundle/commit/96ae5b93112aab464858992b79342c76be5bee4e

[2017-10-04 15:36] jordisala1991 commented on #916
We might need to restore them, but anyway you won't be able to configure ecommerce with SonataUser 4.x-dev because ecommerce is not compatible with Symfony 3.x ATM

[2017-10-04 20:48] jeroendk commented on #916
In am working on that compatibility so that is why i saw this error

met vriendelijke groet,
Jeroen de Kok
lead developer

<http://www.aveq.nl> [cid:imagea83a70.PNG@d4f3000b.43996272] <http://www.aveq.nl/>

Koppelstokstraat 81<http://maps.google.com/?q=AveqGroep>
2583 CB  Den Haag<http://maps.google.com/?q=AveqGroep>
+31 (0)70 306 25 46<tel:+31703062546>

www.aveq.nl<http://www.aveq.nl>

<https://

[2017-10-09 14:03] itemvirtual opened #919 "Attempted to load class "ApplicationSonataUserBundle" from namespace "Application\Sonata\UserBundle"."
#### Sonata packages

[code]
sonata-project/admin-bundle              3.23.0                                3.23.0                                The missing Symfony Admin Generator
sonata-project/block-bundle              3.4.0                                 3.4.0                                 Symfony SonataBlockBundle
sonata-project/cache                     1.0.7

[2017-10-09 14:10] jlamur commented on #919
Did you follow the step `2.5. EXTENDING THE BUNDLE`:

[code]

[2017-10-09 14:50] itemvirtual commented on #919
Hi Jlamur,
yes I have a folder called AppBunble and another called Application with Sonata/UserBundle and the file ApplicationSonataUserBundle.php

I don't understand the reason why my app don't load the other namespace.

Thanks
Fidel

[2017-10-09 15:01] itemvirtual commented on #919
Hi,
i solve it adding in composer:

"autoload": {
        "psr-4": {
            "AppBundle\\": "src/AppBundle",
            "Application\\": "src/Application"
        },

[2017-10-09 15:01] #919 closed

[2017-10-09 15:02] jlamur commented on #919
Thank you for your feedback, hopefully it will help someone.

[2017-10-09 15:02] greg0ire commented on #919
@itemvirtual could you please make a PR to update the docs?

[2017-10-09 15:10] itemvirtual commented on #919
Hi Greg,
Sorry  I don't have experience in PR.
You only have to add the composer comment in the 2.5. EXTENDING THE BUNDLE of sonara-project doc.
Thanks
Fidel

[2017-10-09 15:20] greg0ire commented on #919
@itemvirtual can you please learn how to make a PR and then do it?

[2017-10-09 15:38] itemvirtual commented on #919
@greg0ire
do you have any documentation about good practices of PR?

Thanks
Fidel

[2017-10-09 15:41] greg0ire commented on #919
We absolutely do, so after reading [this quick tutorial](https://yangsu.github.io/pull-request-tutorial/), you may read about
[docs PR on Sonata](https://github.com/sonata-project/SonataUserBundle/blob/3.x/CONTRIBUTING.md#the-documentation)

[2017-10-10 13:01] 0l1v3r5 commented on #901
thanks! @gomcodoctor, it's working for me!

[2017-10-10 13:05] 0l1v3r5 commented on #901
thanks @gomcodoctor, it's working for me!

[2017-10-11 08:14] jordisala1991 commented on #901
Closing, discused on the PR also: https://github.com/sonata-project/SonataUserBundle/pull/905

[2017-10-11 08:14] #901 closed

[2017-10-11 11:25] itemvirtual opened #922 "Missing command in documentation in SonataUserBundle"
**2.5. EXTENDING THE BUNDLE**

At this point, the bundle is functional, but not quite ready yet. You need to generate the correct entities for the media:
`php app/console sonata:easy-extends:generate SonataUserBundle -d src`
If you specify no parameter, the files are generated in app/Application/SonataUserBundle but you can specify the path with --dest=src
**Remind to register the new bundle in yo

[2017-10-11 14:35] core23 commented on #922
Can you create a PR with a doc update @itemvirtual ?

[2017-10-11 14:37] jlamur commented on #922
Please do not open multiple issues for the same problem @itemvirtual.

Ref: #919

[2017-10-11 14:38] #922 closed

[2017-10-12 07:27] jordisala1991 commented on #897
Fixed: https://github.com/sonata-project/SonataUserBundle/pull/921

[2017-10-12 07:27] #897 closed

[2017-10-13 10:26] wissemwis commented on #879
The source of this conflict is the non existence of a release 4.x of SonataUserBundle
To resolve this problem we need to have a 4.x release of SonataUserBundle
Please is there a release planified ?

[2017-10-13 10:53] greg0ire commented on #879
Yes

[2017-10-16 13:52] vyshkant opened #924 "Fatal error: You have requested a non-existent parameter "twig.form.resources""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have installed `SonataUserBundle`. I'm trying to run `php bin/console`, and this is causing next error:
[code]
The reason is next.

The `Sonata\UserBundle\DependencyInjection\SonataUserExtension` is trying to add custom form widgets:

https://github.com/sonata-project/SonataUserBun

[2017-10-16 14:21] greg0ire commented on #924
I usually solve this kind of race conditions with a `PrependExtensionInterface` implementation: https://symfony.com/doc/current/bundles/prepend_extension.html Do you think it could be used in this case?

[2017-10-17 13:18] #924 closed

[2017-10-17 17:35] vyshkant opened #927 "Move configuration defaults to the Configuration class"
### Subject

`Sonata\UserBundle\DependencyInjection\SonataUserExtension` class contains the following method, which is called from `Sonata\UserBundle\DependencyInjection\SonataUserExtension::load` method.

https://github.com/sonata-project/SonataUserBundle/blob/258192330405d49b5fc42be090572f6b3c5ac14a/DependencyInjection/SonataUserExtension.php#L208-L230

Please pay special attention to the follow

[2017-10-17 17:37] vyshkant commented on #927
Any ideas? I'll gladly write PR.

[2017-10-17 17:43] greg0ire commented on #927
1. 👍 not sure how you are going to manage that though, since this default value depends on another config value (the model type)
2. not sure why `BaseUser` isn't abstract, but with such a name, I don't think it should be considered valid.
3. 👍
4. consistency checks are good

[2017-10-17 18:27] vyshkant commented on #927
Strictly speaking, at this point, according to my proposal, we don't check the correspondence between the `manager_type` value and the `user` and `group` classes values. But we will check it when the `SonataUserExtension::load` method is executed.

Judging by the installation manual (https://sonata-project.org/bundles/user/master/doc/reference/installation.html#doctrine-configuration 2.3.1) the `B

[2017-10-17 18:28] greg0ire commented on #927
Indeed! Go for it then.

[2017-10-17 18:35] vyshkant commented on #927
But I think when we change the `Application\Sonata\UserBundle\Entity\User`, etc to `Sonata\UserBundle\Entity\BaseUser`, etc — this will break BC (for those users who use `Application` namespace for overridden bundle).

It means, that I should target `master` branch for this PR. In this case, should I mark the `SonataUserExtension::addDefaults` method as `deprecated`, or I can delete it (the BC wil

[2017-10-17 18:37] greg0ire commented on #927
Deprecations make no sense if the PR is not BC, so just remove it. Think hard if you can make parts of this PR BC though.

[2017-10-19 06:07] elliotbouvier opened #931 "Dropping support of php7.0 for 4.x"
### Environment

#### Sonata packages
[code]

#### Symfony packages

[code]

#### PHP version
[code]

## Subject
Hello guys, I saw that you dropped the support of PHP7.0, is PHP7.1 mandatory ? I had to upgrade my project to Symfony 3.3 for env variables and it was working well but since 1week i'm tied because I have no way to upgrade php in production.
## Steps to reproduce
Use php 7.0 and compose

[2017-10-19 06:13] greg0ire commented on #931
Well... yeah...

Don't upgrade Sonata, and make sure you use 7.0 when developing on this project. If you can't install 7.0 locally, you can still use [this](https://getcomposer.org/doc/06-config.md#platform) to make sure you don't upgrade to 7.0-incompatible versions by mistake.

Really? Well you better find a way, because 7.0 will soon be end of life:
https://secure.php.net/supported-versions.php

[2017-10-19 06:14] #931 closed

[2017-10-23 09:06] RaphArbuz commented on #902
Thanks @tarlepp and one shouldn't forget to run `composer update` after that.

[2017-10-30 10:51] Gastmeier opened #936 "PHP ^7.0 and Symfony ^3.0"
PHP version 7.1 is already too high for our requirements. All the other bundles go along with that. This one is not and it hinders the desire to upgrade to Symfony ^3.0.

So far, Symfony <3.4 has `"php": "^5.5.9|>=7.0.8"`. These versions become unaccessible if you have a constraint that says PHP <7.1.

Thats why the question: PHP ^7.0 and Symfony ^3.0, can you make it happen?

[2017-10-30 10:52] greg0ire commented on #936
@Gastmeier we recently reverted all our bundles to `^5.6 || ^7.0`, but did not communicate about that yet.

[2017-10-30 10:55] Gastmeier commented on #936
which version to use? `"sonata-project/user-bundle": "^3.0"` does not to the trick.

[2017-10-30 10:59] Soullivaneuh commented on #936
It should, and should install this: https://packagist.org/packages/sonata-project/user-bundle#3.3.0

3.4.0 is PHP 7.1 only but 3.5.0 will have the PHP 5.6 support back.

It's a Symfony choice, not our. We reverted to PHP 5.6 after a second vote, indeed. But it's still a choice.

Please also note: The next major version will be PHP 7.1 only and the older branches will be not maintained, except for

[2017-10-30 11:02] Gastmeier commented on #936
3.3 uses `"php": "^5.3 || ^7.0"` but it needs Symfony ^2.3 (through `"symfony/security": "^2.3"`)

So i need to wait for 3.5.0. When will it arrive? Any estimation about that?

[2017-10-30 11:26] Gastmeier commented on #936
I just realized that you would have to upgrade to `"friendsofsymfony/user-bundle": "^2.0"`.

@greg0ire You closed this issue too soon. It is not only about the PHP version, its about the PHP version in conjunction with the Symfony version.

Thus my question remains. When will there be an upgrade to Symfony ^3.0 and will it be in conjunction with PHP ^7.0? Or will you jump to PHP version ^7.1?

[2017-10-30 11:31] greg0ire commented on #936
Oh indeed, I misunderstood the issue.

[2017-10-30 11:52] Soullivaneuh commented on #936
@sonata-project/contributors Do we still have a reason to not support SF 3 on current stable?

[2017-10-30 16:59] Soullivaneuh commented on #936
@Gastmeier Unfortunately, we can't provide Symfony 3 support because of the current FOSUser v1 support of the stable branch.

@sonata-project/contributors Two possible options:

- Drop FOSUser v1 support on the current stable, because maintaining both plus Symfony v3 looks quite impossible. We can do this according to semver and our new policy.
- Just wait and release the next major. But it will b

[2017-10-31 12:44] jxamorro commented on #879
Do you know approximate date for the release?
thanks

[2017-10-31 12:47] greg0ire commented on #879
Probably late 2017

[2017-10-31 15:22] jxamorro commented on #879
thanks @greg0ire

[2017-11-02 10:44] Hanmac commented on #911
**Status Update:**

on **EditableRolesBuilder**:
i added Translator as dependency into EditableRolesBuilder, and have it translate the Roles if needed

with that, `ROLE_ADMIN: [ROLE_USER, ROLE_SONATA_ADMIN]` would result in three translations, `ROLE_ADMIN`, `ROLE_USER` and `ROLE_SONATA_ADMIN`
I added `$domain` parameter to `getRoles` so it can be configured in the Type.

on **SecurityRolesType**:

[2017-11-02 18:07] quaertym commented on #936
I am interested in this too. When can we expect a version with PHP ^7.0 Symfony ^3.0 and FOSUser ^2.0?

[2017-11-05 15:16] IliyaKarkamov opened #942 "DoctrineORM exception after composer update"
### Environment

#### Sonata packages
sonata-project/admin-bundle              3.24.0             3.24.0
sonata-project/block-bundle              3.5.0              3.5.0
sonata-project/cache                     2.0.0              2.0.0
sonata-project/core-bundle               3.6.0              3.6.0
sonata-project/datagrid-bundle           2.2.1              2.2.1
sonata-project/doctrine-extensi

[2017-11-06 10:16] Hanmac commented on #942
@OskarStark: my `Application\Sonata\UserBundle\Entity\User` needed extra defination of the id column

[code]

don't know if your code is missing that

[2017-11-06 10:28] IliyaKarkamov commented on #942
Im using the easy-extends bundle generated configuration:
`<?xml version="1.0" encoding="UTF-8"?>
<doctrine-mapping xmlns="http://doctrine-project.org/schemas/orm/doctrine-mapping"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://doctrine-project.org/schemas/orm/doctrine-mapping
                  http://doctrine-project.org/schema

[2017-11-06 10:34] maavia10 commented on #942
i have the same issue
tried @Hanmac  solution but nothing happen same error occur

[2017-11-06 10:43] maavia10 commented on #942
i have re install sonata user bundle but issue still exist
when i run sonata easy extend command it generate user and group
![group](https://user-images.githubusercontent.com/3215908/32437461-4553fbce-c309-11e7-9fe5-e50e494305f7.png)
![user](https://user-images.githubusercontent.com/3215908/32437464-4598fe40-c309-11e7-9434-85e8d9d23740.png)

[2017-11-06 10:44] maavia10 commented on #942
i need help to resolve this issue as soon as possible

[2017-11-06 10:50] Soullivaneuh commented on #942
@maavia10 Please use text copy/paste instead of IDE screenshots.

Well, like any user AFAIK. Just rollback to the last working version waiting that.

If it was master or another dev branches, then don't use master. Master is unstable, it's the goal of master branches. You can also rollback to a specific commit with composer.

[2017-11-06 11:00] Hanmac commented on #942
@IliyaKarkamov i noticed it wrong.
it isn't the User which needed the id column, but the Group class.
checkout if it got some defination too

[2017-11-06 11:16] maavia10 commented on #942
get this error after using dev for user-bundle

[2017-11-06 11:17] Soullivaneuh commented on #942
@maavia10 `dev` is not a proper constraint and this is not related to the issue. Please ask for help on StackOverflow or Symfony Slack channel.

[2017-11-06 11:18] maavia10 commented on #942
"require": {
        "php": ">=5.5.9",
        "a2lix/i18n-doctrine-bundle": "^0.1.0",
        "a2lix/translation-form-bundle": "^2.1",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-migrations-bundle": "1.2.1",
        "doctrine/orm": "^2.5",
        "gesdinet/jwt-refresh-token-bundle": "^0.2.1",
        "incenteev/composer-parameter-handler": "^2.0",
        "jms/i18n-rou

[2017-11-06 11:20] IliyaKarkamov commented on #942
@Hanmac there is an id configured aswell for the group entity. May the problem come from the orm or something?

[2017-11-06 11:21] Soullivaneuh commented on #942
@maavia10 Again, this is not a help channel. Please stop posting answer about your issue to keep this one clean. I'll remove the last one.

Just rollback to your previous composer state. If have difficulties to do that, please ask for help on StackOverflow or Symfony Slack channels.

Regards.

[2017-11-06 11:49] jordisala1991 commented on #942
This PR is causing the issue: https://github.com/sonata-project/SonataUserBundle/pull/930

still investigating!

@vyshkant can you help us too?

[2017-11-06 11:51] jordisala1991 commented on #942
Found a solution..

On sonata_user config:

[code]

Not sure if the intention of the PR was to always have to define this default config or not.

[2017-11-06 12:34] maavia10 commented on #942
@jordisala1991  solved my problem thanks alot

[2017-11-06 13:26] maavia10 opened #943 "Change User Avatar"
I am using Sonata User Bundle In the upper right corner there is a menu with a logout button and the user's avatar. What I can't find is how to access to user's profile to change among other things, the avatar and his password.

[2017-11-06 14:01] Hanmac commented on #943
@maavia10 the avatar currently can't be changed with the default install

there are bundles/modules planned using gravatar #529,
Someone recommented https://github.com/henrikbjorn/GravatarBundle, but there is no connection with Sonata as far as i know.

[2017-11-06 14:25] Soullivaneuh commented on #943
Duplicate of #529

[2017-11-06 14:25] #943 closed

[2017-11-06 14:57] maavia10 opened #944 "Model class "Application\Sonata\UserBundle\Admin\UserAdmin" does not correspond to manager type "orm"."
[code]
get this above error while extending user Admin class to change in user form

[2017-11-06 18:10] Yippy opened #945 "Detection of delete route is ignored in latest master branch"
The latest dev-master branch template still displays design elements for delete route, while ignoring that the admin has this inplace:

[code]

I've followed the documentation of removing the single route from https://sonata-project.org/bundles/admin/master/doc/reference/routing.html

An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "ad

[2017-11-06 18:14] Yippy commented on #945
Started to work when re-install package, perhaps I didn't clear the cache correctly.

[2017-11-06 18:14] #945 closed

[2017-11-06 19:23] vyshkant commented on #942
The values `Application\Sonata\UserBundle\Entity\User` and `Application\Sonata\UserBundle\Entity\Group` are no longer default.

After https://github.com/sonata-project/SonataUserBundle/pull/930, their base classes — `Sonata\UserBundle\Entity\BaseUser` and `Sonata\UserBundle\Entity\BaseGroup` become default ones.

To use the child classes (in the example above — `Application\Sonata\UserBundle\Entit

[2017-11-06 20:10] IliyaKarkamov commented on #942
@jordisala1991 that worked, thanks!
@vyshkant That helped me understand where the problem comes from, thank you!

[2017-11-06 20:22] vyshkant commented on #942
@IliyaKarkamov Could you please help me understand this problem?

If you don't mind, could you `var_dump` the variables `$actualModelClasses` and `$expectedModelClasses` in the method `Sonata\UserBundle\DependencyInjection\SonataUserExtension::checkManagerTypeToModelTypeMapping` (file `/path/to/your/project/vendor/sonata-project/user-bundle/DependencyInjection/SonataUserExtension.php` on line 292)

[2017-11-06 21:16] IliyaKarkamov commented on #942
@vyshkant i wasnt able to evaluate the expressions inside the if statement because the expressions always return true.

$actualModelClasses:
[code]
and
$expectedModelClasses:
[code]
that is the output without setting the sonata_user configuration for the default user and group classes.

When i set the configuration for sonata_user to point to my classes i get this:

$actualModelClasses
[code]
$exp

[2017-11-06 21:17] Soullivaneuh commented on #936
After discussion with the team, here is the issue: We are stuck with FOSUser v1 (and SF 2.8) on stable, so the only way is to go to master.

Unfortunately, the next major release will be PHP 7.1 only.

Closing as wontfix for this subject.

[2017-11-06 21:17] #936 closed

[2017-11-06 21:40] vyshkant commented on #942
@IliyaKarkamov Thanks!

[2017-11-06 21:42] vyshkant commented on #944
@maavia10 Could you please help me understand this problem?

If you don't mind, could you `var_dump` the variables `$actualModelClasses` and `$expectedModelClasses` in the method `Sonata\UserBundle\DependencyInjection\SonataUserExtension::checkManagerTypeToModelTypeMapping` (file `/path/to/your/project/vendor/sonata-project/user-bundle/DependencyInjection/SonataUserExtension.php` on line 292).

In

[2017-11-06 23:40] vyshkant commented on #927
Since the https://github.com/sonata-project/SonataUserBundle/pull/930 PR is merged, this issue can be closed?

[2017-11-07 07:31] #927 closed

[2017-11-07 08:08] maavia10 commented on #944
[code]

[2017-11-07 08:10] maavia10 commented on #944
/var/www/html/pretty-pointy/vendor/sonata-project/user-bundle/DependencyInjection/SonataUserExtension.php:300:boolean true

/var/www/html/pretty-pointy/vendor/sonata-project/user-bundle/DependencyInjection/SonataUserExtension.php:300:boolean true

[2017-11-07 08:57] sev-signal commented on #936
@Soullivaneuh
Ok, can we have an idea of the roadmap? When is gonna be this next release?
Thx

[2017-11-07 08:58] Soullivaneuh commented on #936
@sev-signal We don't have precise roadmap.

I just can ensure you it will at least at December, if the master branch is ready,

[2017-11-07 08:59] sev-signal commented on #936
OK, so by the end of the year. Thanks

[2017-11-07 09:07] Soullivaneuh commented on #883
Is this issue still relevant?

[2017-11-07 09:48] vyshkant commented on #944
@maavia10 Thanks!

Could you also show the full content of your `Application\Sonata\UserBundle\Admin\UserAdmin` class file?

[2017-11-07 11:40] maavia10 commented on #944
[code]

[2017-11-07 14:37] vyshkant commented on #944
The problem is that your `Application\Sonata\UserBundle\Admin\UserAdmin` class is not a subclass of `Sonata\UserBundle\Admin\Entity\UserAdmin`.

@greg0ire @jordisala1991 @Soullivaneuh @OskarStark Should we allow using admin-classes, not inherited from `Sonata\UserBundle\Admin\Entity\UserAdmin` and others?

[2017-11-07 14:43] greg0ire commented on #944
If it was allowed before, then yes, definitely.

[2017-11-07 15:18] maavia10 commented on #944
its working fine as its before
after updating this bundle i am unable to extend User Admin class

[2017-11-09 08:35] maavia10 commented on #944
any time when this issue is fixed?

[2017-11-09 08:36] jordisala1991 commented on #944
Can you provide a PR to fix it?

[2017-11-09 08:39] maavia10 commented on #944
@jordisala1991 PR? please elaborate?

[2017-11-09 08:41] jordisala1991 commented on #944
Pull request. There are 2 options: you wait for someone to provide the code needed to fix your issue with a pull request, or you fix it yourself and submit the changes via pull request.

[2017-11-09 08:43] jordisala1991 commented on #944
If you can't, I will try to fix it tonight, but I don't make any promises :)

[2017-11-09 08:44] maavia10 commented on #944
okay

[2017-11-09 09:01] Hanmac commented on #911
@greg0ire some of you guys more ideas what i should do with that, or can it be turned into a PR?

i currently did a bigger rewrite of the RoleBuilder to prevent it from making unnessesary (or failed) translations.

i think it isn't much of a BC break because it is an internal service that shouldn't be much used elsewhere

[2017-11-09 09:01] vyshkant commented on #944
@jordisala1991 Oh, I'll take care about this. After all, I broke it. And I do make a promise :)

[2017-11-09 09:21] greg0ire commented on #911
Please make a PR, we like to see code.

[2017-11-09 09:27] Hanmac commented on #911
@greg0ire my current state is seen there:
https://github.com/Hanmac/SonataUserBundle/tree/security_roles_translation
i can make a branch of it soon

i just need to wait until i can run style checks (couldn't get the style run on windows)

[2017-11-09 09:44] vyshkant commented on #944
See #950

[2017-11-09 11:48] OskarStark commented on #944
Can we close this issue after #950 was merged @vyshkant ?

[2017-11-10 14:03] LeTo34 commented on #895
I've the same problem. The xml files required not exist in the "@SonataUserBundle/Resources/config/routing" path.
The directory just content 3 files :
admin_resetting.xml
admin_security.xml
api.xml

In my composer.json, I've this : "sonata-project/user-bundle": "dev-master"

[2017-11-10 14:37] core23 commented on #895
Please use the issue template. This will help us to analyse the issue

[2017-11-15 15:05] #911 closed

[2017-11-27 16:30] Odpf commented on #895
Hello,
I've the same problem.
My composer.json :
` "require": {
        "php": ">=5.5.9",
        "symfony/symfony": "~3.0",
        "doctrine/orm": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-cache-bundle": "^1.2",
        "symfony/swiftmailer-bundle": "^2.3",
        "symfony/monolog-bundle": "^2.8",
        "sensio/distribution-bundle": "^5.0",
        "sensio

[2017-11-28 15:48] borjadinamic opened #958 "Possible Bug? Error in relationship between baseGroup and User"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I've followed the steps to install, i can see the blocks on admin dashboard.
When i try to access to List view it shows me an error.

## Steps to reproduce

Install and extends the bundle with default configuration

## Actual results

[2017-11-28 20:05] micayael commented on #958
Same here

[2017-11-28 20:24] #603 closed

[2017-11-29 13:17] greg0ire commented on #958
@micayael please use emojis if you need to +1 something.
If you want to add more value to this ticket, you could find since which commit it breaks using `git bisect`

[2017-11-30 00:05] micayael commented on #958
Hi

This commit breaks the code: 505de3e9fdaf096a9d4b3512bba2d43364992b42

[Configuration default values](https://github.com/sonata-project/SonataUserBundle/commit/505de3e9fdaf096a9d4b3512bba2d43364992b42)

[2017-11-30 07:19] greg0ire commented on #958
@vyshkant please help with this

[2017-11-30 10:32] vyshkant commented on #958
@borjadinamic @micayael Most likely, the problem is that you have incorrectly configured (or not configured at all) the child classes User and Group. (see "2.5. Extending the Bundle" - https://sonata-project.org/bundles/user/master/doc/reference/installation.html#extending-the-bundle)

@greg0ire @OskarStark As far as I remember, the discussion on this issue is not over yet (see https://github.com/

[2017-11-30 10:35] borjadinamic commented on #958
@vyshkant i got configured as auto_mapping: true

[2017-11-30 10:52] micayael commented on #958
@vyshkant I have it configured the same as the link that you have passed, adding also the requirement of fosuser on the "from_email" that is not in that documentation

[code]

[code]

[2017-11-30 11:20] vyshkant commented on #958
@micayael You will also need to specify your `Application\Sonata\UserBundle\Entity\User` and `Application\Sonata\UserBundle\Entity\Group` classes in the `sonata_user` configuration, as shown here: https://sonata-project.org/bundles/user/master/doc/reference/advanced_configuration.html

[2017-11-30 12:28] micayael commented on #958
@vyshkant great. I added these lines and it worked with the last commit of the 4.x-dev branch (ff710b8aec720a46dce495a2fb1d7f59bca150b3)

[code]

It would be great to have an updated documentation, including the from_email option of fosuser and explaining what things are required to configure

Thank you so much for your help :-)

[2017-11-30 14:19] #958 closed

[2017-12-01 11:26] Hanmac opened #965 "Sonata User Admin services need to be public?"
i currently copied my project and did try to update everythnig,
like Symfony 3.4, SonataUserBundle dev-master (thanks for merging)

i don't know if that is more a bug in UserBundle, or something that should be changed inside the AdminBundle (thats why no PR yet)

and got messages like this:

this happend when `AdminListBlockService` calls `$this->pool->getDashboardGroups()`
and then the pool try t

[2017-12-01 12:35] greg0ire commented on #965
Please go the short fix way at first, we'll try to rework this but since it will probably require some BC-breaks, it will come later and will be done on the unstable branch

[2017-12-01 12:53] Hanmac commented on #965
@greg0ire okay i will do the short fix with adding `public="true"` into admin_orm.xml and admin_mongodb.xml files

because making this services public should change/break anything for sonata itself,
should this changes be done into the 3.0 branch of the userbundle?

[2017-12-01 12:54] greg0ire commented on #965
nah do it on the master branch, we are supposed to release it "soon" anyway

[2017-12-01 15:28] Hanmac commented on #965
close because PR merged

[2017-12-01 15:28] #965 closed

[2017-12-01 17:16] Hanmac opened #967 "[4.0] way to disable checkManagerType or allow FOSUser as parent?"
For one of my projects i used FOSUser as base class for my admin users because the Sonata users had too much Social Media stuff i didn't wanted as entries in the backend or the database.

I did wrote my own admin classes, extending the ones from Sonata, removed the Social Media stuff and it worked.

but now with checkManagerTypeToModelTypeMapping it doesn't work anymore and i need to extend from S

[2017-12-03 21:10] matteogatti opened #969 "Login page is without template"
### Sonata bundles
[code]

### Symfony bundles
[code]

### PHP
[code]

### Login page
<img width="564" alt="schermata 2017-12-03 alle 22 04 19" src="https://user-images.githubusercontent.com/841614/33529809-ff738f48-d875-11e7-9f3b-c38e6fdd017c.png">

### Issue
Everything works well, the template render in every page except the login page as posted.
Strangely, the system uses the **FOSUserBundle**

[2017-12-04 04:55] core23 commented on #969
Sorry, but we try to keep github issues for feature requests and bugs only.

- Please have a look at the [sonata docs](https://sonata-project.org/bundles/)
- Use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and help others as well
- Join #sonata on [the symfony-devs slack](https://symfony.com/slack-invite) for immediate help

Btw. it looks like you have an

[2017-12-04 04:55] #969 closed

[2017-12-04 07:38] matteogatti commented on #969
Thanks anyway, i will try as you wrote. I opened an issue because in the past i installed other versions of Sonata with Symfony 2.x but it's the first time i use **SonataUserBundle: dev-master** and i thought there were some problems.

[2017-12-04 20:21] TELLO0815 commented on #902
@tarlepp I have the same problem. I don't get it where to change. Can u specify for me the file please?

THX Mike
PS: Newbie ;-)

[2017-12-04 20:38] tarlepp commented on #902
@TELLO0815 see your `composer.json` file on root of your project.

[2017-12-04 20:41] TELLO0815 commented on #902
THX

[2017-12-04 21:07] TELLO0815 opened #975 "security.acl.voter.user_permissions" has a dependency on a non-existent service "security.acl.provider""
With installation of 4.0.0. by DOC Master and cache:clear i get:

[code]

Is this a bug with symfony 3.3.13?

THX
Mike

[2017-12-05 10:09] Hanmac commented on #975
@TELLO0815 the `security.acl.provider` is a service that should be happen by Symfony itself

did you enable acl for Sonata without setting acl in the security settings?
[code]

[2017-12-05 12:32] TELLO0815 commented on #975
OMG - looks like there is more problems in my code.
@Hanmac yes this was correct. But now i get the:

[code]

THX for help

[2017-12-05 12:43] Hanmac commented on #975
@TELLO0815 hm that bug reminds me of my stuff, did you add id into your own Entity User class?
(probably you need to do your own Entity\Group too

[2017-12-05 12:48] TELLO0815 commented on #975
Before installing the Sonata UserBundle the FOSUserBundle was working, also the SonataAdminBundle.
Now i have no connection to my
src/AppBundle/Entity/User.php:
[code]

src/Application/Sonata/UserBundle/Entity/Group.php:
[code]

src/Application/Sonata/UserBundle/Entity/User.php:
[code]

[2017-12-05 12:58] Hanmac commented on #975
@TELLO0815 hm yeah you should probably not need your AppBundle/Entity/User,
because the stuff will be done in your Application/Sonata/UserBundle/Entity/User

also currently UserBundle master has a "problem" that you can't use other user classes then theirs

means: you can't from FOS\UserBundle\Model\User for sonata users, but need Sonata\UserBundle\Entity\BaseUser, even if you don't use their extr

[2017-12-05 13:18] TELLO0815 commented on #975
I deleted AppBundle/Entity/User but still:
[code]
So SonataAdmin Bundle and FOSUserBundle was working fine.
MB i mixed something up, because at first i was going the SonataUserBundle 3.X guide.

I will post all my code. MB there is some other problem:
app/config/config.yml:
[code]

app/config/routing.yml:
[code]

app/config/security.yml:
[code]

THX or help!

[2017-12-05 13:28] Hanmac commented on #975
@TELLO0815 i don't now what SonataUserBundle version you are, but on master, you need to configure the classes in sonata_user

i did this:
[code]

[2017-12-05 14:14] TELLO0815 commented on #975
@Hanmac Thank u so much!!!

I use the 4.0.0.

[code]

[2017-12-07 21:53] bartosz-malec opened #976 "[4.0] Why SonataUserBundle is not parent of FOSUserBundle?"
Hi,

I would like to ask why new version of SonataUserBundle is not a parent of FOSUserBundle? May it be optional configurable by constructor?

[2017-12-07 22:01] greg0ire commented on #976
I think having a parent bundle is deprecated.

[2017-12-07 22:14] bartosz-malec commented on #976
Yes, that's true, but what if someone uses bundle which extends SonataUserBundle? Now library is lighter, but... In this situation I need to do two new bundles. First one to extend FOSUserBundle and second one to extend SonataUserBundle. I am not sure, that the idea about removing support for extensions was fine.

[2017-12-07 22:15] greg0ire commented on #976
Why would you need 2 new bundles?

[2017-12-08 08:02] bartosz-malec commented on #976
First one is company bundle loaded by Satis, which extends e.g. login layout of SonataUserBundle. Second one is application bundle which should extends FOS/SonataUserBundle functionalities. After upgrade to 4.0, application bundle must extends FOSUserBundle, so in the same bundle I can not extend e.g. company bundle functionalities which extends SonataUserBundle.

I think it will be big change for

[2017-12-08 08:25] bartosz-malec commented on #879
I have chacked that SonataUserBundle 4.0 works fine with SonataIntlBundle 2.4, so this task should be closed.

[2017-12-08 08:27] OskarStark commented on #879
Thank you for the feedback 👍

[2017-12-08 08:27] #879 closed

[2017-12-08 12:23] Hanmac commented on #976
@bartosz-malec the problem is that Symfony itself doesn't support parent bundle anymore
so SonataUserBundle can't do many things about that

[2017-12-08 13:58] #976 closed

[2017-12-11 10:51] jeroendk commented on #967
I also ran into this problem.
@greg0ire @vyshkant So the check on the admin class was removed in #950, but the check on the correct admin class is still there. Is this on purpose ? Before the update we were able to use custom user classes.

[2017-12-11 11:15] vyshkant commented on #967
I can only say that this problem appeared because of my patch. And, apparently, this is a violation of backward compatibility, which is permissible in the `master` branch.
The question remains: what to do next? Leave as is, or remove `checkManagerTypeToModelTypeMapping` method?
And we are stuck deciding what to do with this: https://github.com/sonata-project/SonataUserBundle/pull/930#issuecomment-

[2017-12-11 11:17] greg0ire commented on #967
1. I don't use the SonataUserBundle.
2. I voted nonetheless because I don't want things to get stuck.

If you both use this bundle, please decide together what to do next.

[2017-12-11 11:23] jeroendk commented on #967
_compatibility, which is permissible in the master branch._ thats true but why did you added the check ? Everything seem to work fine with custom user & admin classes.

[2017-12-11 11:57] vyshkant commented on #967
I did not take into account that such a situation can be. But it's not my decision whether we should allow this. I propose to wait for the others.

[2017-12-11 18:08] jordisala1991 commented on #967
My opinion is:

Admin classes should not extend always from baseuser class. The extension point here should be there to allow to modify completely the form, without restrictions.

[2017-12-11 18:53] Hanmac commented on #967
@jordisala1991 the problem isnt the admin class but the user/group classes

Sometimes it's a good idea to use Fos User(interface) as base instead of Sonata User

[2017-12-11 22:12] quaertym commented on #540
I get the error `Unrecognized option "form" under "sonata_user.profile"` with version `4.0.0`. Any idea?

[2017-12-12 13:45] vyshkant commented on #967
I'll provide a PR solving this problem.

[2017-12-12 13:54] vyshkant commented on #967
And what branch should I target? In `3.x` the problem is the same, does it mean that I should target `3.x`?

[2017-12-12 14:02] vyshkant commented on #944
@maavia10 Can this issue be closed?

[2017-12-12 14:33] greg0ire commented on #967
@vyshkant you should target 4.x, since we no longer merge 3.x in 4.x. People that badly need your fix on 3.x can backport it.

[2017-12-12 15:02] #944 closed

[2017-12-17 01:19] Keyproco commented on #643
Oskar is right! i just lost 1 hours searching, it's hard to google it.. got some luck, tank you!

[2017-12-20 00:02] gremo opened #982 "All templates for admin password reset are broken. What's wrong?"
How this is even possible? Why such big mistakes for a bundle used by thousands? The error is so obvious that it seems that this hasn't be tested at all.

I'm working on a PR to fix this.

### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
Admin resetting complete broken.

## Steps to reproduce
Fresh install, try to reset your admin p

[2017-12-20 07:12] #982 closed

[2017-12-20 07:15] greg0ire commented on #982
Either that or maybe Twig has become less permissive? I know there is some magic that will try several accessors for an object, maybe there was something similar for variables. Hard to believe it never worked / never was tested. If you really want to understand, you can checkout older versions and bisect from there.

[2017-12-20 08:51] gremo commented on #982
@greg0ire I'm curious too,  but I don't think that Twig has been such permissive in the past about variable names. In fact, it was the 4.0 that changed the names in templates.

[2017-12-20 08:55] OskarStark commented on #982
@gremo we released 4.0.1 right now

[2017-12-20 08:56] gremo commented on #982
@OskarStark thank you so much!

[2017-12-22 16:52] danielantelo commented on #878
@haivala did you ever find a way of using the route check as you showed? I am having the same issue, this is the only thread i found with the exact same problem i am facing. Thanks!

[2017-12-23 08:49] jordisala1991 commented on #878
Try updating admin bundle to the latest version, and probably all the other sonata bundles too.

Closing because this does not belong to user-bundle.

[2017-12-23 08:49] #878 closed

[2018-01-03 09:46] jchesne opened #988 "Be able to use Nelmio 3.0 Version"
I saw Nelmio 3.0 version is in conflict since 30 June 2016 - [See the commit](https://github.com/sonata-project/SonataUserBundle/commit/fcef4a6f3ab4d8d3992fe17b7f091b1fd6d8a899#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780).
I really need to use the 3.0 version, when do you think we will be able to use it ?

Thanks,

Jérôme

[2018-01-03 09:47] OskarStark commented on #988
did you try to make it work in your project? If yes, feel free to create a PR

[2018-01-08 10:29] dodev34 opened #992 "Translation and registration database errors on Sonata\UserBundle\Entity\BaseUser"
There is an error in the ````Sonata\UserBundle\Entity\BaseUser````. There is a reversal of key values ​​that causes translation problems and prevents the correct backup of the "gender" field

[code]

[2018-01-10 10:01] colshrapnel opened #994 "Unable to install SonataUserBundle on the fresh installation of SonataAdmin"
### Environment

Debian GNU/Linux 9
PHP 7.0.27

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Trying to install SonataAdmin with SonataUserBundle

## Steps to reproduce

[code]

## Expected results

SonataUserBundle installed

## Actual results

[code]

[2018-01-10 10:20] greg0ire commented on #994
I'd try installing them all in one `require` command, Composer is more likely to succeed if it knows everything upfront. Upgrading to 7.1 might be another good workaround

[2018-01-10 10:23] jordisala1991 commented on #994
`Using version ^3.6 for sonata-project/user-bundle`

If you are using SF 3.4 you should be installing `^4.0`

[2018-01-10 10:23] #994 closed

[2018-01-10 10:28] colshrapnel commented on #994
@greg0ire yes, it works when I run a single `composer require sonata-project/user-bundle` command. But the problem is I need to add SonataUserBundle to my existsing SonataAdmin installation. Facing such a problem I just tried a fresh install, to get the steps to reproduce.

As of the PHP version, it persists on my local Fedora 27 with 7.1 as well.

[2018-01-10 10:41] colshrapnel commented on #994
@jordisala1991 thank you for your suggestion.

It doesn't work with SF 3.3 as well

###Steps to reproduce
[code]

###Actual results

[code]

[2018-01-10 10:46] greg0ire commented on #994
Works on my machine :tm:

[code]

[2018-01-10 10:47] greg0ire commented on #994
Notice how it picks version 4.

[2018-01-10 10:53] colshrapnel commented on #994
@greg0ire thank you.
Unfortunately, on the live server the PHP version is 7.0 and it won't be changed in the mean time.
Whereas User bundle 4.0 requires PHP 7.1 (as I tried it already):

Do I get it right that I have to downgrade Symfony to 2.8 in order to install User bundle on PHP 7.0?

[2018-01-10 10:55] jordisala1991 commented on #994
Yes, for PHP < 7.1 you have to stay on Symfony 2.8 if you want to use UserBundle because:

4.x (compatible with Symfony 3.4) is only for 7.1
3.x (compatible only with 2.8) is for ^5.6 or ^7.0

[2018-01-10 10:55] greg0ire commented on #994
Yes, you are right.
Beware that 7.0 accepts only security patches now, you should probably update ASAP.

[2018-01-10 13:51] colshrapnel commented on #994
@greg0ire  thank you but try to tell it to conservative Debian maintainers and sysadmins who are clenched to default versions.

It seems 3.x is unusable now, because downgrading Symfony to 2.8 produces unresolvable dependency conflicts. That's gross, but seems unavoidable.

[2018-01-10 14:02] greg0ire commented on #994
So there is no stable version of debian that packages 7.1 by default right now? It's a shame!

[2018-01-10 14:04] jordisala1991 commented on #994
@colshrapnel I am using 2.8 with Sonata without any problems. Just use UserBundle 3.6

[2018-01-10 17:14] colshrapnel commented on #994
@greg0ire I just checked, it seems so: https://packages.debian.org/stretch/php
Looks like you have to add a third party repository for 7.1

@jordisala1991 thank you for making it clear.
Unfortunately, I started this project with Symfony 3.3 and just unable to clean the mess that was created by the downgrade. So I had to use the brute force, installing UserBundle 4.0 on my local but patching it on

[2018-01-10 17:17] greg0ire commented on #994
@colshrapnel you could create your own fork instead of patching it in production :P Then use an inline alias to use that fork instead of the main repo, should be more maintainable.

[2018-01-15 23:58] pool0022 opened #997 "SF4 drops ACL support. mod UserBundle for use with 'symfony/acl-bundle' or switch to Voters?"
trying to enable ACL use in UserBundle with SF4

i've got
[code]

and in

[code]

with that, I'm getting error:

[code]

Although related config options appear in

 ["security.acl.voter.user_permissions" has a dependency on a non-existent service "security.acl.provider" #975](https://github.com/sonata-project/SonataUserBundle/issues/975)

and this doc

[SF4>Documentation>Bundles>SonataAdminBundle>

[2018-01-16 07:09] greg0ire commented on #997
I think we probably should go the acl bundle route, and reconsider removing ACLs on next Sonata major

[2018-01-17 13:18] guidoheckmann commented on #994
There should be a version which is working with Symfony LTS (3.4) and PHP 5.6 !

[2018-01-18 08:33] ibogdan94 commented on #988
I am also need this

[2018-01-18 08:34] ibogdan94 commented on #988
@OskarStark Please, see https://github.com/sonata-project/SonataUserBundle/pull/989

[2018-01-18 10:39] #988 closed

[2018-01-18 11:15] lukepass commented on #517
Hello, this is still a problem and there is no way to disable group support in Sonata User. Is there a fix? Thanks

[2018-01-18 11:47] lukepass commented on #942
Thank you, that saved my life!

[2018-01-18 11:53] lukepass opened #999 "Disable group support in FOSUserBundle"
In the guide for FOS User Bundle there is an option to disable groups:

https://symfony.com/doc/current/bundles/FOSUserBundle/groups.html

There is also a note:

I tried to disable it using SonataUserBundle but it complains about a missing parameter:

[code]

Is there a solution for it?

### Environment

Symfony 2.8

#### Composer packages

[code]

#### PHP version

[code]

[2018-01-18 14:11] greg0ire commented on #999
Hmm so this parameter should be nullable? I know the sf DIC supports nullable services, but does it support nullable parameters?

[2018-01-18 16:00] lukepass commented on #999
It seems yes but only with XML declaration:

https://symfony.com/doc/current/service_container/optional_dependencies.html

[2018-01-18 16:31] greg0ire commented on #999
Good thing we use XML then

[2018-01-18 18:37] jordisala1991 commented on #517
Continued in #999

[2018-01-18 18:37] #517 closed

[2018-01-18 18:55] greg0ire commented on #999
I think the group manager shouldn't even be defined in that case, which would mean splitting this file: https://github.com/sonata-project/SonataUserBundle/blob/4e0d24ffdbd2769b03b384b0072d2f630e4c01c4/src/Resources/config/orm.xml#L15

And loading it conditionally, based on the existence of the parameter. Not sure what other problem could arise after that. Would you like to give it a try @lukepass

[2018-01-19 08:25] lukepass commented on #999
Hello, I am embarassed but I never forked and edited a GitHub project :)
I could try and edit it! Could you please guide me a bit about the files using that conf and how could I make a pull request for a public project?

Thanks.

[2018-01-19 08:33] greg0ire commented on #999
Don't be embarrassed, it's OK, props for willing to do it. I'm in the train right now, so I'll give more details later, but first step would be to figure out if this can work, which you can assess without any forking, just by applying the suggestion on the files inside your `vendor` directory.

[2018-01-23 10:39] leonboot opened #1004 "Why drop PHP 7.0 support?"
Today, the CI builds of our project started to fail. Reason for this was that the `add_support_for_fos_user2` branch disappeared from this repository.

"Wait, you were actually using a dev branch for your project?"

Yes. We needed FOSUserBundle 2 for our project and also use Sonata. Browsing the issues of this repository back then, we saw that FUB2 support was on the radar and trusted that, by the

[2018-01-23 13:50] Soullivaneuh commented on #1004
2.0 was unstable. We only keep minimum support for actively maintained PHP versions, not security. Since 2.0 is now stable, PHP 7.1 will still be the minimum until security release support is ended.

Unfortunately, this is not our issue. We just can't support all OSs constraints. We strictly follow the PHP roadmap and only this one.

Please see our contributing guide about this part: https://githu

[2018-01-23 13:50] #1004 closed

[2018-01-28 15:54] jordisala1991 commented on #568
This is no longer a problem with 4.0

[2018-01-28 15:54] #568 closed

[2018-01-28 16:02] jordisala1991 commented on #975
Closing as it seems to be solved

[2018-01-28 16:02] #975 closed

[2018-01-28 16:06] #214 closed

[2018-01-28 20:15] jordisala1991 commented on #686
This seems to be solved, or atleast belongs to JMSDiExtraBundle. If I am wrong ping me and I will reopen

[2018-01-28 20:15] #686 closed

[2018-01-31 19:26] #611 closed

[2018-01-31 19:30] jordisala1991 commented on #646
User found a solution. And I use my own defined roles without any problem. Without more info of the issue, I close it.

[2018-01-31 19:30] #646 closed

[2018-01-31 19:32] #505 closed

[2018-01-31 19:34] jordisala1991 commented on #556
Closing, not enough info

[2018-01-31 19:34] #556 closed

[2018-01-31 19:36] jordisala1991 commented on #281
You are adding a call to setSecurityContext. If it was in the docs its not anymore, and probably shouldnt be there. Closing

[2018-01-31 19:36] #281 closed

[2018-01-31 19:38] jordisala1991 commented on #582
Closing as this is not an issue with this bundle. User classes can be modified without problem. They are just entities

[2018-01-31 19:38] #582 closed

[2018-01-31 19:44] jordisala1991 commented on #660
This issue is too old and without more information it is hard to track. Probably not related to userbundle. Closing

[2018-01-31 19:44] #660 closed

[2018-01-31 19:46] #426 closed

[2018-01-31 19:47] #687 closed

[2018-02-01 21:39] #992 closed

[2018-02-03 16:19] jordisala1991 commented on #521
This is fixed already

[2018-02-03 16:19] #521 closed

[2018-02-05 21:38] #997 closed

[2018-02-08 14:14] FireLizard commented on #883
Same issue here.

What does it mean ["You need to import the required macro(s) in every single .twig file."](https://stackoverflow.com/a/41590052)?

[2018-02-09 08:37] ebuildy opened #1010 "Duplicate group table created"
### Environment

MacOS, php installed via brew.

Demo project: https://github.com/ebuildy/sandbox-sonata-user

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Doing ``doctrine:schema:update --dump-sql`` I see 2 tables ``fos_user_group`` and ``fos_user_user_group`` are created.

## Steps to reproduce

- from a fresh Symfony 3.4 install ``symfony-in

[2018-02-11 19:49] #469 closed

[2018-02-15 09:31] syeo66 commented on #994
This does not make sense to me. Symfony 3.4 requires 'only' php ^7.0.8. so why alienate 3.4 (the current LTS!) with the sonata-user bundle by telling you have to use Symfony 2.8 or php 7.1? I am actually stuck with my project now because of this. The hoster is using 7.0 and seems to keep it there for a while. Going back to 2.8 is no longer an option at this point...

[2018-02-15 09:50] greg0ire commented on #994
If you hoster is using 7.0, then you should follow the policy of your company and use unsupported, deprecated but stable versions of your software too. 7.0 is 2 years old, therefore you should use 2 years old versions of Sonata / Symfony and every other software too.

[2018-02-15 10:56] jordisala1991 commented on #994
I did my own version of the user-bundle. https://github.com/Runroom/SonataUserBundle

Do not expect any update or anything from here to get merged there. Use at your own responsability, 4.x-dev is the only branch can be used from composer.

[2018-02-20 02:27] Ehmz commented on #820
<img width="1152" alt="screen shot 2018-02-20 at 10 25 17 am" src="https://user-images.githubusercontent.com/26210483/36404887-65150cb0-1628-11e8-9678-aa2ef36777e4.png">
I have same problem. i have set up this for several time with different from scratch projects but still it didn't show up the dropdown button for profile and logout.  So i dont think so the problem is on it's implementation or set

[2018-02-22 16:43] lukepass commented on #936
Hello, is there a solution for this?
I have a constraint of PHP 7.0.25 and I can't upgrade to Symfony 3.4 because SonataUserBundle requires PHP 7.1.

Thanks.

[2018-02-22 16:51] greg0ire commented on #936
@jordisala1991 has a fork he maintains.

[2018-02-22 16:53] lukepass commented on #936
So the official SonataUserBundle fork isn't going to provide a PHP 7.0 compatible version?
If you can confirm this I think it's time to force my customer to upgrade to a new PHP version :)

[2018-02-22 16:55] greg0ire commented on #936
I can confirm this :)

[2018-02-22 16:58] lukepass commented on #936
Ok, thank you! :)

[2018-02-25 18:52] jordisala1991 commented on #1010
`fos_user_group` table is for the groups, `fos_user_user_group` is to store the relations between users and groups.
It is a many to many.

Closing, if you think this should remain opened, just ping me with your exact issue.

[2018-02-25 18:52] #1010 closed

[2018-02-27 15:24] peter-gribanov opened #1014 "Interface inconsistency"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I update SonataUserBundle to version 4.x and encountered a problem in [UserInterface::setDateOfBirth()](https://github.com/sonata-project/SonataUserBundle/blob/4.x/src/Model/UserInterface.php#L96).

It is stated that the argument is a `\DateTime`, but in fact it isn't and this is [no

[2018-02-27 15:57] greg0ire commented on #1014
That's nice.

[2018-02-27 16:25] Soullivaneuh commented on #1014
1. Making new major is not related to bug fixes. It's better to fix bug before indeed, but not mandatory.
2. The fact the problem is obvious is a subjective point of view.
3. The project is open-source. Why didn't you propose a fix for such an obvious problem (according to you)?

Thanks for reporting the bug, but you really don't need to add this kind of attack. If you don't like the work is done

[2018-02-27 16:54] peter-gribanov commented on #1014
Maybe i was being rude. Sorry. :bow:

I'm a little upset by the fact that solving the problem breaks BC and i should not expect an early resolution of this problem.

I wish i had noticed this problem before.
I did not use [your model](https://github.com/sonata-project/SonataUserBundle/blob/4.x/src/Model/User.php), but only implemented the [interface](https://github.com/sonata-project/SonataUserBun

[2018-02-27 18:14] greg0ire commented on #1014
sounds like an ISP violation :/ , and you're right, it would be hard to solve IMO

[2018-02-28 10:31] peter-gribanov commented on #1014
Сontinuation of the epic

I caught the error at [this](https://github.com/sonata-project/SonataUserBundle/blob/4.x/src/DependencyInjection/SonataUserExtension.php#L299) line:
[code]
where

`$actualModelClass` is equile `Acme\DemoBundle\Entity\User`
`$expectedModelClass` is equile `Sonata\UserBundle\Entity\BaseUser`

It's strange that we expect a concrete class, not an interface, although we have i

[2018-02-28 11:03] Hanmac commented on #1014
@peter-gribanov : the bug with not correspond is this pr #980
the check force to use Sonata classes, even if you don't need them (i use the FOSUser classed)

in my local code because this is not merged, i just disable the "checkManagerTypeToModelTypeMapping" check in the SonataUserExtension

[2018-03-16 16:44] peter-gribanov commented on #1014
I solved the problem for myself by removing the SonataUserBundle.

[2018-03-22 13:50] hrvojebrkasic opened #1018 "SonataUserBundle not sending emails"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce
1. go to sonata admin page
2. go to forgotten password
3. enter valid username/email
4. renders to check email page, but mail isn't sent
## Expected results
Sent and received email with link to reset password
## Actual results
Redirection to check email page, but mail isn't sent

[2018-03-24 17:57] jordisala1991 commented on #483
Duplicated of #456 . Closing

[2018-03-24 17:57] #483 closed

[2018-03-24 17:59] jordisala1991 commented on #643
Docs are clear about how to install SonataUserBundle: https://sonata-project.org/bundles/user/4-x/doc/reference/installation.html

You need to generate your bundle, **before** using those values.

Closing

[2018-03-24 17:59] #643 closed

[2018-03-24 18:02] jordisala1991 commented on #617
Just tried this. It works as expected.

You define a group with some roles. Assign it to a user. Try if the user has those permissions. -> User has the persmissions.

Remove the groups. Check user permissions -> User does not have the permissions on the group removed.

Closing for now. If you still having this issue, please ping me  and provide more information, and we will reopen.

[2018-03-24 18:02] #617 closed

[2018-03-24 18:07] jordisala1991 commented on #876
There are a lot of related issues, and it has been solved.

If you want to use the Api you should install nelmio, but if you are not using it, you probably have the JMSDiExtraBundle.

Related: https://github.com/sonata-project/SonataAdminBundle/pull/4320 https://github.com/sonata-project/SonataAdminBundle/issues/4292 https://github.com/sonata-project/SonataClassificationBundle/issues/258 https://g

[2018-03-24 18:07] #876 closed

[2018-04-01 08:52] jordisala1991 commented on #593
Fixed in https://github.com/sonata-project/SonataUserBundle/pull/717

Closing

[2018-04-01 08:52] #593 closed

[2018-04-01 08:56] jordisala1991 commented on #550
Closing because it does not make a lot of sense. I just tested it and the calendar for picking dates is working correctly.

Feel free to provide more information if this issue is still relevant. If any of the @sonata-project/contributors understands this and care to explain, please reopen too.

[2018-04-01 08:56] #550 closed

[2018-04-01 08:58] jordisala1991 commented on #585
This is because User class use validation groups. You need to define the validation group for your field.

Closing, if you still having this issue, please provide more information, and we will reopen

[2018-04-01 08:58] #585 closed

[2018-04-01 09:03] jordisala1991 commented on #895
You should follow install instructions for the version you are using.

In this case: https://sonata-project.org/bundles/user/4-x/doc/reference/installation.html

Closing for now. If you have this issue after following the correct install instructions, please provide more information and we will reopen.

[2018-04-01 09:03] #895 closed

[2018-04-01 09:20] jordisala1991 commented on #560
No PR was provided, and I didnt find other bundles using this section parameter.

If you want to provide a PR or keep the issue alive, please ping me, otherwise if no one cares about section, I dont see any interest of keepong this opened.

Closing for now.

[2018-04-01 09:20] #560 closed

[2018-04-01 09:21] jordisala1991 commented on #485
This is easily fixable by replacing url with path

[2018-04-05 15:50] mauriau commented on #999
Hello, I got the same issue, I want to disabe the BaseGroup entity from Sonata. Is it possible ?

[2018-04-05 18:59] jordisala1991 commented on #999
Not for now Im afraid. Feel free to provide a PR

[2018-04-23 20:39] shvlv opened #1023 "Incompatibility SF4 Service Container?"
### Environment

laravel/homestead (virtualbox, 5.2.0)

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
Probably error when using Service Container in SF4.

## Steps to reproduce
Try Forgotten password functionality and go to /admin/resetting/send-email.

## Expected results
Sending email.

## Actual results
Exeption:
[code]
When look at AdminReset

[2018-04-24 04:37] kunicmarko20 commented on #1023
I would say that we make it public in sonata config and we think about refactorng bundles to stop getting from container, cc @sonata-project/contributors

[2018-04-24 05:51] greg0ire commented on #1023
how can we achieve this?

[2018-04-24 05:53] kunicmarko20 commented on #1023
Can't we just register service and add public true, like in example from issue?

[2018-04-24 19:54] shvlv commented on #1023
Like temporary fix I find this decision

services.yaml
[code]
Kernel.php
[code]

[2018-05-01 14:56] kyeno commented on #944
Hey, after migrating to 4.X branch of SonataUserAdmin just recently I still do have this issue. Was this ever resolved in the mainline?

[code]

[code]

[2018-05-01 17:25] kunicmarko20 commented on #944
@kyeno you are missing `: void` return type

[2018-05-10 11:07] kbyjoel opened #1027 "Twig RolesMatrixExtension always needs MatrixRolesBuilder even when SonataAdminBundle is not used"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I use SonataUserBundle through sonata-ecommerce on master-dev. I don't use Sonata Admin Bundle because I don't need it.
In this configuration, when you upgrade user-bundle to 4.2.0, you get an error on the composer update:

## Expected results
The problem comes from the dependency injection ([src/Depe

[2018-05-10 11:31] kunicmarko20 commented on #1027
cc @silasjoisten can you maybe help with this?

[2018-05-14 15:03] argayash opened #1030 "The service "sonata.user.form.type.security_roles" must be public as form types are lazy-loaded"
### Environment

dev

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When i try update sonata-project/user-bundle from 4.1.1 to 4.2.0 post scripts `symfony-scripts: Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::clearCache` in console show error message
[code]

[2018-05-14 16:40] kunicmarko20 commented on #1030
@argayash can you please provide a PR?

[2018-05-15 07:49] #1030 closed

[2018-05-15 09:34] #1027 closed

[2018-05-15 09:45] pa- commented on #820
@Ehmz Looks like you are not logged in ("anon." in the Debug Toolbar). Your User also must have/inherit the `ROLE_SONATA_ADMIN` Role

[2018-05-16 05:42] OskarStark commented on #1027
@kbyjoel we release [4.2.1](https://github.com/sonata-project/SonataUserBundle/releases/tag/4.2.1)

[2018-05-28 01:53] HassanGouzoul commented on #919
You should also excute a:  cmd $ composer dump-autoload after editing your composer.json  "autoload": {
        "psr-4": {
            "": "src/"
        },

[2018-06-04 20:58] divined commented on #997
And how it must work now?

[2018-06-05 07:41] asassoye commented on #997
@divined, symfony/acl-bundle is a bundle now.
To configure:
[code]

and not:
[code]

Here is the documentation: [https://github.com/symfony/acl-bundle/blob/master/src/Resources/doc/index.rst](url)

[2018-06-05 07:44] asassoye commented on #997
@greg0ire please don't remove ACL from Sonata

[2018-09-28 09:44] kigotho opened #1049 "Atk::Version gem"
/.rvm/gems/ruby-2.5.0/gems/atk-3.2.9/lib/atk.rb:47:in `<module:Version>': uninitialized constant Atk::Version::MAJOR_VERSION (NameError)

[2018-09-28 09:44] kigotho commented on #1049
using GTK3

[2018-09-28 09:47] OskarStark commented on #1049
Are you sure this is the correct repo? 😕 ❓

[2018-09-28 09:48] kigotho commented on #1049
Ohh NO! sorry guys

[2018-09-28 09:48] #1049 closed

[2018-10-03 03:49] HaseebIsmail90 opened #1050 "i am facing The service "sonata.user.admin.user" has a dependency on a non-existent service "sonata.admin.manager.orm"."
i am using sonata user bundle devmaster
The service "sonata.user.admin.user" has a dependency on a non-existent service "sonata.admin.manager.orm".
can't find problem

### Environment

#### Sonata packages

[code]
$ composer show --latest 'symfony/*'
#########################
symfony/monolog-bundle     v3.3.0  v3.3.0  Symfony MonologBundle
symfony/phpunit-bridge     v3.4.16 v4.1.5  Symfony PHPUnit

[2018-10-03 05:46] kunicmarko20 commented on #1050
We have a bug report template for a reason, please fill it.

[2018-10-03 06:56] maavia10 commented on #1050
Environment
Sonata packages

$ composer show --latest 'sonata-project/*'
3

Symfony packages

$ composer show --latest 'symfony/*'
3.4.1

PHP version

$ php -v
7.2

  The service "sonata.user.admin.user" has a dependency on a non-existent service "sonata.admin.manager.orm".

i am also facing this issue
i have just install fresh

[2018-10-10 14:00] 4ssil commented on #1023
@shvlv using the proposed solution above to make the services public from the Kernel didn't work for me, I guess the container couldn't load the services because they're private ?

I had to redefine the services in my services.yaml to get the whole password reset process working.

**services.yaml**
[code]

[2018-10-12 13:00] psyray opened #1051 "Type Error : Data is undefined on login page"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Due to recent changes in the standard_layout.html.twig of Sonata Admin Bundle, the config section has been moved from the javascripts block to the body_attributes block.
So this bundle [should be updated](https://github.com/sonata-project/SonataUserBundle/blob/391dc8d101250f98787e709

[2018-10-12 13:09] OskarStark commented on #1051
cc @core23

[2018-10-12 13:18] psyray commented on #1051
I made a report of the situation on the https://github.com/sonata-project/SonataAdminBundle/pull/5240 PR

[2018-11-16 10:36] Hanmac opened #1056 "Question: use of request->getSession while Session injected?"
## Feature Request

Symfony did Deprecate use of getSession without using hasSession first
https://symfony.com/blog/new-in-symfony-4-1-session-improvements#deprecate-some-uses-of-request-getsession

what should we do about it?

there are 4 places where getSession is used:
[code]
LoginAction already does inject Session service, why can't we use that?
or is there a case where that is null?
in the ra

[2018-11-18 18:56] greg0ire commented on #1056
:thinking: I wonder what the session service looks like when there is no session. Also, isn't that service going to be removed?

[2018-11-18 19:11] Hanmac commented on #1056
@Greg0ire I don't know right now, I don't have a system to test at the moment.

I think it might not matter because most of the functions above should only be useable when having a user, and for this you need a session right?

[2018-11-18 19:34] greg0ire commented on #1056
Makes sense. Anyway, if this should break, we should get deprecations from Symfony.

[2018-12-08 15:51] fedy95 commented on #1050
This string is helped me for symfony 4:
- composer require sonata-project/doctrine-orm-admin-bundle

[2018-12-21 14:34] quisse commented on #916
Any update on this?

[2018-12-21 14:41] quisse commented on #916
Nevermind, spoke to @kunicmarko20 & they won't be restored. Guess this one can be closed then?

[2018-12-21 14:42] kunicmarko20 commented on #916
Well, not really like that. They _might_ be restored but no one really has time to try this.

[2018-12-21 14:43] quisse commented on #916
Ok

[2019-01-11 15:30] Exalyon opened #1068 "Override Validation group for custom user admin"
### Environment

#### Sonata packages

[code]
sonata-project/admin-bundle              3.43.0               3.43.0               The missing Symfony Admin Generator
sonata-project/block-bundle              3.13.0               3.13.0               Symfony SonataBlockBundle
sonata-project/cache                     2.0.1                2.0.1                Cache library
sonata-project/core-bundle

[2019-01-22 16:35] maavia10 opened #1071 "Model class "Application\Sonata\UserBundle\Entity\User" does not correspond to manager type "orm"."
i a facing this issue

[code]
[code]
on symfony 4.2

[2019-01-22 17:02] kunicmarko20 commented on #1071
We have a bug template for a reason, please fill it in. This doesn't help us help you. Thank you!

[2019-01-22 17:39] maavia10 commented on #1071
can you please let me know about this template?

[2019-01-22 17:39] kunicmarko20 commented on #1071
when you created an issue you had to see it because it is by default there https://github.com/sonata-project/SonataUserBundle/blob/4.x/.github/ISSUE_TEMPLATE.md

[2019-01-22 17:46] maavia10 commented on #1071
sonata-project/admin-bundle              3.45.1 3.45.1 The missing Symfony Admin Generator
sonata-project/block-bundle              3.14.0 3.14.0 Symfony SonataBlockBundle
sonata-project/cache                     2.0.1  2.0.1  Cache library
sonata-project/core-bundle               3.15.0 3.15.0 Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.4.0  2.4.0  Symfony SonataDatagridBu

[2019-01-22 20:47] kunicmarko20 commented on #1071
what is the exception?

[2019-01-23 09:49] kunicmarko20 commented on #1071
can you provide a stack trace, please?

[2019-01-23 10:06] maavia10 commented on #1071
how can i provide stack trace?

[2019-01-23 10:54] maavia10 commented on #1071
i have just install new project
and follow documentation everything work okay
when i run
`doctrine:migrations:diff`
i got this error
`Model class "Application\Sonata\UserBundle\Entity\User" does not correspond to manager type "orm". `
after spending several hours i am unable to get any solution

[2019-01-27 19:39] core23 commented on #1071
I can confirm the issue. The error occurs if you try to extend the `Model\User` class and ignore the `Entity\User\BaseUser` class. In other words, you can't use the bundle without extending the `Entity`classes.

[2019-01-27 20:40] OskarStark commented on #1071
Please remove the label then

[2019-01-29 10:56] Jean-ita commented on #1071
I have the same issue. Will the label "unconfirmed" be removed?
sonata-project/user-bundle                           4.2.3
sonata-project/admin-bundle                        3.45.1
sonata-project/core-bundle                           3.15.1
sonata-project/doctrine-orm-admin-bundle  3.8.1
sonata-project/easy-extends-bundle              2.5.0

[2019-01-30 09:56] jcRisch commented on #1071
@maavia10 , replace :
[code]
by
[code]
in **fos_user.yaml** and **sonata_user.yaml**

[2019-01-30 11:21] jcRisch opened #1075 "Attempted to load class "BaseUser" from namespace "App\Application\Sonata\UserBundle\Entity""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Can't register a user using FOSUserBundle + SonataUserBundle.
I installed succefully SonataUserBundle using the official [doc](https://sonata-project.org/bundles/user/master/doc/reference/installation.html). My bdd is updated, everything is ok but I can't access to the `/register` pa

[2019-01-30 14:15] core23 commented on #1075
I think we use a wrong namesspace for the entities. Thy must be located under App\Entity

[2019-01-30 14:31] OskarStark commented on #1075
You mean in the flex recipes?

[2019-01-30 14:34] jcRisch commented on #1075
You mean, I have to re-localize `Group.php` and `User.php` from `App\Application\Sonata\UserBundle\Entity` to `App\Entity` ?

Also, when installing `FOSUserBundle`, I had to create a User Entity located in `App\Entity` (content below). Meaning that I have two User classes extending both BaseUser in two different locations. Is it normal ?
App\Entity\User.php :
[code]

[2019-01-31 06:37] core23 commented on #1075
AFAIK, the `App\Entity` namespace is autoloaded by doctrine, if you don't adjust your config.

Yes, please try. If it works, please provide a PR which will fix this 👍

[2019-01-31 06:39] core23 commented on #1071
Feel free to add the missing steps 👍

[2019-01-31 09:31] jcRisch commented on #1075
Mistake on my side !

[2019-01-31 12:15] 7system7 opened #1077 "Custom validation not working at all"
I would like to create a custom validation method in my UserAdmin. It checks a field (property) that depends on another field. The UserAdmin was created w/ "easy-extends" command:
[code]
Every validation method in the administration area are working properly, except the generated ones, include the SonataUserBundle
__It is completely ignore the validation method in Admin class...__ I tried everythi

[2019-01-31 14:08] 7system7 commented on #1077
### Method 3 - "native", Symfony way

I created the global validation.yaml
config/validator/validation.yaml
[code]

I created the (class) Constraint
\App\Application\Sonata\UserBundle\Validator\Constraints\ChecksPartnerEmail
[code]

And I created the Validator class
\App\Application\Sonata\UserBundle\Validator\Constraints\ChecksPartnerEmailValidator
[code]

And "just in case" I added the Constrain

[2019-01-31 18:41] 7system7 commented on #1077
Nevemind. I solved it w/ Expression.

[2019-02-03 14:10] greg0ire commented on #1023
If you want to help, you can try using dependency injection inside the controllers. Here is something very similar I did for a command: https://github.com/sonata-project/SonataUserBundle/pull/1074

[2019-02-09 11:11] malutanpetronel commented on #820
I did upgraded from 2.3 to 3 and the current configs I had are working with the specification that the top menu for logout is not shown anymore... No changed template in my case.
...
   "sonata-project/core-bundle": "^3.1",
        "sonata-project/admin-bundle": "^3",
        "sonata-project/doctrine-orm-admin-bundle": "^3",
        "sonata-project/block-bundle": "^3",

        "doctrine/migration

[2019-02-13 09:30] goetas opened #1082 "add support for jms/serializer v2.x ( jms/serializer-bundle v3.x)"
## Feature Request

jms/serializer v2.x  (and jms/serializer-bundle v3.x) have been released, it would be nice to add explicit support for it.

[2019-02-28 21:48] n3o77 opened #1086 "Remove account indication on password reset"
## Feature Request

As in the FOSUserBundle ([PR](https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2250)) it would be good to suppress explicit feedback in the password reset process to not leak account information.

I'm happy to provide a PR in the next few days / weeks but would appreciate some feedback on this.

[2019-03-01 05:57] OskarStark commented on #1086
This would be a great improvement, we appreciate a PR 👌🏻

[2019-03-07 11:18] v0ff4k commented on #1050
but what need to do if i using symfony 3.4  ?  with  "sonata-project/doctrine-orm-admin-bundle": "3.6.1" in composer  )

[2019-03-07 11:43] v0ff4k commented on #1050
i founded mine solution, i have not setted `new Sonata\DoctrineORMAdminBundle\SonataDoctrineORMAdminBundle(),`  in app/AppKernel.php

[2019-03-15 17:57] core23 commented on #528
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 17:57] #528 closed

[2019-03-15 17:58] core23 commented on #602
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 17:58] #602 closed

[2019-03-15 17:59] core23 commented on #412
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 17:59] #412 closed

[2019-03-15 17:59] core23 commented on #456
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 17:59] #456 closed

[2019-03-15 18:04] core23 commented on #149
This should be fixed

[2019-03-15 18:04] #149 closed

[2019-03-15 20:13] #679 closed

[2019-03-26 08:19] Liuck commented on #1050
composer require sonata-project/doctrine-orm-admin-bundle
解决 symfony4 依赖问题

[2019-04-06 14:57] roelveldhuizen opened #1087 "After install and changes to config: Unable to generate a URL for the named route "admin_sonata_user_baseuser_create""
### Environment
Apache 2.4 PHP via FPM.
Windows 10
Development machine.

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "admin_sonata_user_baseuser_create" as such route does not exist.").

I installed fos user first then after a while wa

[2019-04-06 16:02] mnikolov commented on #1071
In my case, it was removing the "App\" prefix for the associated user_class and group_class from config.yml.

Before:
[code]

After:
[code]

That is, after adding the Application to composer.json:
[code]

[2019-04-13 17:48] #1082 closed

[2019-04-26 12:59] iDanielBH commented on #1087
I got that error, but after "php bin / console cache: clear" it worked fine.

[2019-05-02 15:28] lukepass opened #1091 "No metadata found for property `App\\Entity\\User::$groups`"
### Environment

Base website with Symfony 4 fresh install.

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When trying to access the User admin panel I get the following error:

[code]

This is my config:

[code]

[code]

Please note that I moved the User and Group class to the App bundle:

[code]

## Steps to reproduce

Install SonataUserBundle

[2019-05-02 16:01] lukepass commented on #1091
I noticed that updating database using APP_ENV=dev in production adds a large number of queries which are not executed:

[code]

[code]

[2019-05-06 07:53] lpassini-mz commented on #1091
I digged more into this problem, creating a new project from scratch and installing all the required packages. I think I found the culprit in `bundles.php`:

[code]

If I change it to `['all' => true]` all is working correctly:

[code]

Why si it? Thanks.

[2019-05-06 07:54] lukepass commented on #1091
I digged more into this problem, creating a new project from scratch and installing all the required packages. I think I found the culprit in `bundles.php`:

[code]

If I change it to `['all' => true]` all is working correctly:

[code]

Why is it? Thanks.

[2019-05-10 15:46] invfo opened #1094 "Support HTML in password reset email"
## Feature Request

It would be nice to support HTML markup in password reset  email.
Today, all HTML is escaped when creating the email [(code)](https://github.com/sonata-project/SonataUserBundle/blob/1d5485b1aed36f6a051ec25e8aa118c2c1de1a38/src/Mailer/Mailer.php#L72). The solution would be to set `content-type` to `text/html` [here](https://github.com/sonata-project/SonataUserBundle/blob/1d5485b

[2019-05-11 20:22] calebdevelop commented on #1091
Are you try to add the mapping relationship in your xml file : `User.orm.xml`

[code]

[2019-05-13 07:45] lukepass commented on #1091
Isn't this relationship automatically created from the bundle itself? I have overridden the entities using the annotations instead of the xml mapping:

[code]

It seems that in development environment it gets created without writing the code.

[2019-05-13 10:43] calebdevelop commented on #1091
For my part, it's necessary to add the reltationship manually :
[code]

[2019-05-15 09:41] lukepass commented on #1091
Thanks for the example, I will try this way! Are you using SF4?

It worked fine in SF3.4 and I don't know what's triggering the APP_ENV thing.

[2019-05-15 11:26] calebdevelop commented on #1091
Yes, i use SF4

[2019-06-05 20:27] divined commented on #1071
Model class "App\Application\Sonata\UserBundle\Entity\User" does not correspond to manager type "orm".

[2019-06-05 20:55] divined commented on #1087
The same

[2019-06-10 18:31] #967 closed

[2019-06-13 09:29] peter-gribanov commented on #967
@OskarStark problem is not solved yet. We still must to extend `Sonata\UserBundle\Entity\BaseUser` if we want to expand only  `FOS\UserBundle\Model\FosUserInterface`.

As i [said before](https://github.com/sonata-project/SonataUserBundle/pull/980#issuecomment-369234265), will be better inverting the nonconformity check.
If manager type is `orm` then User class should not extends [**ODM** implement

[2019-06-13 09:35] OskarStark commented on #967
Hey Peter, thanks for the feedback.

`orm` -> ODM ?

`mongodb` -> ORM?

I am a bit confused by this 🤔

[2019-06-13 09:46] peter-gribanov commented on #967
@OskarStark is said:

* It is important that the user class is implements `FOS\UserBundle\Model\UserInterface`.
* The problem suggests that it is important for us to create a custom class that does not implement `Sonata\UserBundle\Model\UserInterface`.
* I don’t know why you divide ORM (`Entity`) and ODM (`Document`), but it’s clear that the user class shouldn’t expand `Sonata\UserBundle\Document\

[2019-06-13 09:52] peter-gribanov commented on #967
If you allow not to use `Sonata\UserBundle\Model\UserInterface`, and do not invert the nonconformity
check, then `checkManagersType` does not make sense at all and should be removed.

[2019-06-13 10:02] peter-gribanov commented on #967
* Custom user class should implements `FOS\UserBundle\Model\UserInterface`;
* Custom user class can, but not required to implements `Sonata\UserBundle\Model\UserInterface`;
* Custom user class can, but not required to implements `Sonata\UserBundle\Entity\BaseUser` if we use `orm` manager type;
* Custom user class must not implements `Sonata\UserBundle\Document\BaseUser` if we use `orm` manager typ

[2019-06-23 12:53] phansys commented on #1050
@HaseebIsmail90, did any of the above suggestions helped to solve your problem?

[2019-06-29 00:41] phansys commented on #1023
Thank you for reporting this issue.
I'm closing this since #1053 was already merged and its changes are released in version [4.3.0](https://github.com/sonata-project/SonataUserBundle/releases/tag/4.3.0).
Please, feel free to reopen if you think there is something missing there.
Regards!

[2019-06-29 00:41] #1023 closed

[2019-06-29 12:07] phansys commented on #579
Comparing against the oldest available release, I'm not able to track where these changes were introduced: https://github.com/sonata-project/SonataUserBundle/compare/2.1.0...2.2.4.
Regardless that, I think since 3.x version you can use `sonata_user.profile.register.form.type` configuration: https://sonata-project.org/bundles/user/3-x/doc/reference/advanced_configuration.html.

I'm closing this iss

[2019-06-29 12:07] #579 closed

[2019-08-13 01:59] TangMonk opened #1111 "Install failed with The child node "db_driver" at path "fos_user" must be configured."
### Environment
macOS 10.14
Symfony 4.3

#### Sonata packages

[code]

#### PHP version

[code]

## Subject

just simple install package with `composer require sonata-project/user-bundle`

[code]

[2019-08-13 06:19] core23 commented on #1111
Sorry, but we try to keep github issues for feature requests and bugs only.

- Please have a look at the [sonata docs](https://sonata-project.org/bundles/)
- Use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and help others as well
- Join #sonata on [the symfony-devs slack](https://symfony.com/slack-invite) for immediate help

[2019-08-13 06:19] #1111 closed

[2019-08-20 16:13] core23 opened #1112 "Remove FOSUserBundle inheritance"
## Feature Request

This bundle is dead: https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2874#issuecomment-462644756

There are some threads that were asking for new versions:
- https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2927
- https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2917
- https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2874

So we should remove th

[2019-10-22 20:44] helacer3 opened #1120 "BaseGroup.mongodb.xml is invalid"
I have a symfony 4.3.5 application with sonata admin. A few days ago I had to perform the dependency update and this error is appearing in the package. I try, installing different versions but they all found me this error, which I didn't find documentation for their solution

`
Resources/config/doctrine/BaseGroup.mongodb.xml
					is invalid:
					Line 2:0: Element '{http://doctrine-project.org/sch

[2019-10-26 01:59] sebrosse commented on #1018
Thanks @hrvojebrkasic , I set the ttl value in parameters.yml and it did the trick indeed.

`fos_user.resetting.retry_ttl: null`

[2019-10-26 07:30] greg0ire commented on #1018
I don't understand… to reproduce the bug, do I have to wait 2 hours between 3 and 4??

[2019-10-29 01:33] piedrucci commented on #1050
This works for me too!.. Thanks so much...

[2019-10-29 07:03] core23 commented on #1050
Can you please update the docs @piedrucci @v0ff4k

[2019-11-01 11:19] grimabe commented on #1112
Regarding the lack of maintenance of FosUserBundle and Symfony 5 release approaching this issue is getting more urgent. I don't know if there is a roadmap at Sonata somewhere but I am curious to see if there is any news about this issue ?
Thanks

[2019-11-01 11:22] core23 commented on #1112
This is not a topic we're working on at the moment. Our top prio is to release new major versions of our bundles.

Maybe you can help on this topic @grimabe ?

[2019-11-21 15:17] persfrancobe commented on #1050
did you find any solution for this issue?

[2019-12-06 08:54] sebvie commented on #1077
same issue here

[2019-12-06 10:21] core23 commented on #1077
This is not how Open Source work... Maybe you could investigate a little bit and provide a PR with a fix.

[2019-12-16 10:21] senthilkumar3282 commented on #994
@jordisala1991 thanks your solution is working

[2019-12-19 16:47] RicardoSom commented on #611
arreglen la wea giles qlosss

[2019-12-19 17:35] RicardoSom commented on #611
perdón

[2020-01-02 10:49] wbloszyk commented on #916
I will do it. It is part of TODO in [sandbox#616](https://github.com/sonata-project/sandbox/pull/616)

I will add it in suggest:
        "sonata-project/block-bundle": "For use blocks install ^3.13.2 || ^4.0 version",

Block Bundle 3.x is require in ecommerce:3.x Also support for BlockBundle 3.x will be drop in SonataUserBundle 5.x

[2020-01-07 20:35] core23 commented on #1112
FYI there is a new bundle which is a hard fork of the FOSUserBundle with some major cleanup:
https://github.com/nucleos/NucleosUserBundle

I will create some additional bundles which will add a frontend profile and registration

[2020-01-27 12:34] maaviakamran opened #1141 "Unable to login symfony 4.4"
### Environment

#### Sonata packages

[code]
sonata-project/admin-bundle              3.58.0 3.58.0 The missing Symfony Admin Generator
sonata-project/block-bundle              3.18.3 3.18.3 Symfony SonataBlockBundle
sonata-project/cache                     2.0.1  2.0.1  Cache library
sonata-project/core-bundle               3.17.2 3.17.2 Symfony SonataCoreBundle (abandoned)
sonata-project/datagr

[2020-01-27 15:14] Hanmac commented on #1141
can you show what your ` App\Application\Sonata\UserBundle\Repository\UserRepository` looks like? it might need to implement ObjectRepository?

[2020-01-28 10:36] #1141 closed

[2020-01-31 08:05] loconox commented on #893
I'm not working on any project using sonata blocks. For me it can be closed.

[2020-01-31 13:24] webdevilopers commented on #529
I explained to @core23 on Twitter that I no longer maintain the projects that use Sonata.
I will try to comment on the issues anyway. I will close them if nobody else suggested a PR or similar.

There have been some proposals for this issue. From my POV it can be closed.
Please tell me if I have to close it personally.

[2020-01-31 13:25] webdevilopers commented on #485
I explained to @core23 on Twitter that I no longer maintain the projects that use Sonata.

[2020-02-03 08:24] #1091 closed

[2020-02-03 10:48] psyray commented on #1051
Issue has been fixed in SonataAdminBundle.
Closing this issue

[2020-02-03 10:48] #1051 closed

[2020-02-04 10:35] javer commented on #1120
Yes, bug is still relevant, to fix it the following changes
[code]
should be applied to the following files:
* src/Resources/config/doctrine/BaseGroup.mongodb.xml
* src/Resources/config/doctrine/BaseUser.mongodb.xml

But it will break backward compatibility with `doctrine/mongodb-odm` 1.x, so major version should be bumped.

[2020-02-04 10:54] core23 commented on #1120
This is not a BC break as long us you update the composer definition for this lib. Can you provide a PR @javer

[2020-02-04 10:55] smilearric commented on #1077
Hello. facing the same issue, we would have loved to know how...

Please @7system7 could you explain what you did, roughly at least?

Regards

[2020-02-04 12:14] javer commented on #1120
@core23 It seems that this issue is already fixed in #1140, but it's not released yet. Could you please make a new release with all recent fixes?

[2020-02-04 12:20] core23 commented on #1120
@sonata-project/release-managers Can you please tag a new release

[2020-02-14 09:01] #1087 closed

[2020-02-14 09:01] #1068 closed

[2020-02-14 09:01] #1071 closed

[2020-02-14 09:01] #1056 closed

[2020-02-14 09:01] #1014 closed

[2020-02-14 09:01] #1018 closed

[2020-02-14 09:01] #942 closed

[2020-02-14 09:01] #999 closed

[2020-02-14 09:01] #888 closed

[2020-02-14 09:01] #915 closed

[2020-02-14 09:01] #883 closed

[2020-02-14 09:01] #880 closed

[2020-02-14 09:01] #661 closed

[2020-02-14 09:01] #663 closed

[2020-02-14 09:01] #185 closed

[2020-02-14 09:01] #609 closed

[2020-03-08 14:41] 7system7 commented on #1077
@smilearric

This is a symfony way to solve the problem. You have 2 good options. Constraints or Expressions. I am not sure, you have to do every step, I just copy-paste my solution to here.

__config/packages/framework.yaml__
[code]

__config/validator/validation.yaml__
[code]

## w/ expression

__src/Admin/DealActivityAdmin.php__
[code]

__src/Entity/DealActivity.php__
[code]

## w/ constrait

_

[2020-03-09 00:11] VincentLanglet commented on #1112
Do we need these new bundle ?

I understood in the FOSUser issue that they recommend to use the maker-bundle and this documentation https://symfony.com/doc/current/security.html

[2020-03-09 07:33] core23 commented on #1112
Not sure if we need user bundles anymore, but I don't like the "there is only one way for a user provider" approach that symfony does. It will work for most cases, but there is no alternative way anymore.

[2020-05-04 10:05] kailashkds commented on #1091
Hello,
Even I am facing same issue. I have tried to add
<many-to-many field="groups" target-entity="Group">
            <join-table name="fos_user_group">
                <join-columns>
                    <join-column name="user_id" referenced-column-name="id"/>
                </join-columns>
                <inverse-join-columns>
                    <join-column name="group_id" referenced-colum

[2020-05-07 06:24] #1086 closed

[2020-05-07 06:34] jordisala1991 commented on #1120
Closing as this was released already in 4.5.2

[2020-05-07 06:34] #1120 closed

[2020-05-26 14:41] oleg-andreyev opened #1174 "`\Sonata\UserBundle\Action\ResetAction` is relying on concrete implementation of Session"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

`\Sonata\UserBundle\Action\ResetAction` is relying on concrete implementation of Session

[2020-05-27 12:49] #1174 closed

[2020-06-10 14:42] clementlefrancois opened #1179 "Error messages do not display on the password reset page"
### Environment

#### Sonata packages

[code]

#### PHP version

[code]

## Subject

When resetting the password, no error message is displayed when entering two different passwords or when the password is too weak.

## Steps to reproduce

1) On the login page click on the password reset link
2) Enter your email address
3) Click on the reset password button
4) Click on the link in the email you re

[2020-06-12 12:33] #1179 closed

[2020-06-16 19:33] kubec commented on #1174
Hello,
There is a problem with this change:

Method getFlashBag() is not the method of SessionInterface. Its only implemented in Session class. See broken unit test.

[2020-06-16 19:56] jordisala1991 commented on #1174
@oleg-andreyev can you take a look at this comment?

[2020-06-16 20:20] oleg-andreyev commented on #1174
@kubec @jordisala1991 it's true `SessionInterface` does not have `getFlashBag` defined but a library must no depend on concrete implementation, it's violating Dependency Inversion Principle.

I don't see any broken unit tests in https://travis-ci.org/github/sonata-project/SonataUserBundle/builds/691725652

[2020-06-16 20:21] VincentLanglet commented on #1174
True, do you want to make a PR @kubec ?

Which one ? Tests are green on 4.x.

[2020-06-17 05:47] kubec commented on #1174
Problem in unit test:
`
There was 1 warning:

1) Sonata\UserBundle\Tests\Action\ResetActionTest::testPostedReset
Trying to configure method "getFlashBag" which cannot be configured because it does not exist, has not been specified, is final, or is static
`

[2020-06-17 06:10] #893 closed

[2020-06-17 06:11] #485 closed

[2020-06-17 06:12] jordisala1991 commented on #916
This was added to ecommerce, closing

[2020-06-17 06:12] #916 closed

[2020-06-18 21:19] VincentLanglet commented on #1174
Can you make a PR to fix this @kubec ?

[2020-06-19 06:45] kubec commented on #1174
I will look at it

[2020-07-06 10:15] core23 opened #1191 "Remove oppressive words from code"
## Feature Request

We should avoid terms like *blacklist*, *whitliste, *master*, *slave*, ... and use more tech-related words like *blocklist*, *prmary*, *secondary*,...

In this repo, we use the term *whitelist* which could be replaced with *allowlist*:
https://github.com/sonata-project/SonataUserBundle/blob/4.x/src/GoogleAuthenticator/Helper.php#L42

[2020-07-23 10:12] judimator opened #1193 "Use Symfony\Component\Mailer\Mailer (mailgun, sendgrid etc.) as a mailer"
## Feature Request

I use following packages: ` "symfony/mailer": "4.4.*",  "symfony/mailgun-mailer": "4.4.*"`
So `mailer` service in my container is instance of `Symfony\Component\Mailer\Mailer`. But `\Sonata\UserBundle\Mailer\Mailer` expects instance of Swift_Mailer. I suggest use at least both.

I'm looking forward any thoughts!

[2020-07-23 10:34] VincentLanglet commented on #1193
Do you want to work on this @judimator ?

[2020-07-23 10:43] judimator commented on #1193
Well, I hurried to future request. I set sonata_user.mailer to my own service and it helped. Thanks!

[2020-07-26 16:32] greg0ire commented on #1193
I think this should stay open though… having a dependency on `Swift_Mailer` is not good for Sonata…

[2020-07-26 16:35] greg0ire commented on #1193
Possible solution:

1. remove the type declaration;
2. trigger a deprecation if a swift mailer is passed;
3. throw an error if neither a swift mailer nor a Symfony\Component\Mailer\Mailer is passed;
4. call the right methods depending on the type;
5. once that is merged, drop `Swift_Mailer`

[2020-07-28 16:21] jordisala1991 commented on #1050
The docs are updated now, this is no longer relevant

[2020-07-28 16:21] #1050 closed

[2020-08-05 14:13] #529 closed

[2020-08-08 07:50] davidromani opened #1204 "Class 'Sonata\EasyExtendsBundle\Mapper\DoctrineCollector' not found after 4.7.0 upgrade"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

It seems that there is a problem with line number 18 `use Sonata\EasyExtendsBundle\Mapper\DoctrineCollector as DeprecatedDoctrineCollector;` in class `Sonata\UserBundle\DependencyInjection\SonataUserExtension`

## Steps to reproduce

[code]

## Expected results

Everything goes well

[2020-08-08 07:59] jordisala1991 commented on #1204
You need to register SonataDoctrineBundle

[2020-08-08 13:10] 7system7 commented on #1204
@davidromani If you do not know what the f.ck is **SonataDoctrineBundle** because you are not a sonata contributor and you cannot find any documentation about it, then the mysterious bundle is

[code]

You have to register this bundle to the AppKernel if you have old symfony version. As you have symfony 4+ then you have to register it to config/bundles.php.

[2020-08-08 15:52] davidromani commented on #1204
Fixed!

[code]

Thanks for your time & help. Maybe some documentation will help further users. My apologies but I didn't found any reference to add this missing line after reading the CHANGELOG.

[2020-08-08 15:52] #1204 closed

[2020-08-08 16:13] davidromani commented on #1191
Hello @core23

I'm interested in to solve it if you are agree.

[2020-08-08 16:32] jordisala1991 commented on #1204
You have it on upgrade notes (you should read them before upgrade): https://github.com/sonata-project/SonataUserBundle/blob/4.x/UPGRADE-4.x.md

It is on the release notes: https://github.com/sonata-project/SonataUserBundle/releases/tag/4.7.0

And when you install this bundle for the first time is automatically enabled, thanks to symfony flex

And just in case you think, why does it break my app? i

[2020-08-08 17:39] greg0ire commented on #1191
@davidromani knock yourself out!

The offending property is private, so in this case a simple refactor will do the trick:

https://github.com/sonata-project/SonataUserBundle/blob/782cdcd7b9e73270784ff00e34df85fa18c463d3/src/GoogleAuthenticator/Helper.php#L42

[2020-08-08 18:16] davidromani commented on #1204
Thanks for your comments @jordisala1991

[2020-08-08 18:55] davidromani commented on #1191
Maybe `$trustedIpList` is more convenient, what do you think @greg0ire?

[2020-08-08 20:10] greg0ire commented on #1191
I agree, it's great!

[2020-08-30 07:26] #1191 closed

[2020-09-02 07:00] haivala commented on #1112
I have been digging this for a while now and seems that there is many ways to do this but I just need to ask this: What is the recommended way to upgrade a project with SonataUserBundle not to use FOSUserBundle so that it is future proof? I'm using Symfony 4.4.

[2020-09-02 07:07] VincentLanglet commented on #1112
I'm not sure you can as long as SonataUserBundle use FOSUserBundle.
PR should be done first on this project to remove the dependency.

[2020-09-02 07:49] haivala commented on #1112
So what you are saying is that the maker-bundle way does not work with SonataUserBundle?

[2020-09-02 09:19] VincentLanglet commented on #1112
I don't know. I don't user makerBundle and I don't use this bundle.

What I'm saying is as long this bundle is using FOSUserBundle, you can't use it without FOSUserBundle.
And when someone will remove the FOSUserBundle usage, you certainly have changes to do in your code.

[2020-09-02 13:06] haivala commented on #1112
Just out of curiosity and little bit off topic but what do you use for user management then?

[2020-09-02 13:38] VincentLanglet commented on #1112
I'm just using User/LoginForm as described in the Symfony doc https://symfony.com/doc/current/security.html
And I created a UserAdmin with SonataAdmin.

[2020-09-02 13:53] haivala commented on #1112
So just to be clear that is the same as using the makerBundle

[2020-09-08 07:44] haivala commented on #1112
As this is now closed: https://github.com/sonata-project/SonataUserBundle/pull/1121#event-3738315863
I suggest that the discussion should be in this issue

[2020-09-11 15:15] #1077 closed

[2020-09-24 12:48] eerison opened #1234 "Validation does not work"
Validation is not working for Default groups.

after change this line: https://github.com/sonata-project/SonataUserBundle/blob/b3b54effcd225194b48ff752e90e4c4567b31f64/src/Admin/Model/UserAdmin.php#L46

default Assert back to work.

change:

[code]

[2020-09-24 17:12] VincentLanglet commented on #1234
Wanna make a PR @eerison ?

[2020-09-24 17:32] eerison commented on #1234
Hi @VincentLanglet yeah, I'll open a MR :)

[2020-09-26 22:58] kyeno opened #1238 "Refering to "object" in custom template action pings back to BaseUser"
#### Sonata packages
[code]

#### Symfony packages
[code]

#### PHP version
[code]

## Subject
When trying to integrate PixSortableBehaviorBundle with SonataUserBundle, so I can freely move users around (they're displayed on a subpage), things crash.

Analyzing deeper, it actually treats the `object` Entity within custom template as `BaseUser`, and not as my extended `User` class.

My `sonata_user

[2020-09-27 06:41] core23 commented on #1238
So you added the sortable sniped to the user admin?

What would you expect, a normal user isn't sortable at all.

[2020-09-27 09:25] kyeno commented on #1238
Uhhmmm... maybe I forgot to paste the a portion of my `App\Entity\User`:

[code]

It actually doesn't matter if it's *sortable* here.
What *does* matter is that the template's `object` refers to `BaseUser` and not `User` Entity.

[2020-09-29 15:54] wbloszyk commented on #1238
Here is tutorial how to make it step by step (I using it). If you cant reproduce it one to one then we have issue. Otherwise you should be able to modify this code to own usage.

https://symfony.com/doc/current/bundles/SonataAdminBundle/cookbook/recipe_sortable_listing.html

Also check where is your template:
'Admin/_sort.html.twig` should be in `templates/Admin/_sort.html.twig`
`@App/Admin_sort.h

[2020-09-30 11:02] kyeno commented on #1238
@wbloszyk I have followed that guide precisely. Works like a charm for any other entities *except* extended `User` entity, since then that problem appears.
My template loads properly, it is in `templates/Admin/_sort.html.twig`, I just copied and slightly modified the original Pix's sortable one but definitely not in a manner that could break anything (simple HTML modifications; core references to

[2020-10-02 13:02] wbloszyk commented on #1238
@kyeno I checked it. It is not ower issue. You should create it in [`pixassociates/sortable-behavior-bundle`](https://github.com/pix-digital/pixSortableBehaviorBundle/issues).

Problem is here (after remove it all is OK):
https://github.com/pix-digital/pixSortableBehaviorBundle/blob/master/Services/PositionORMHandler.php#L49-L60

[2020-10-02 13:02] #1238 closed

[2020-10-02 22:15] kyeno commented on #1238
Ha! You're right. Thank you!

[2020-10-03 08:01] VincentLanglet commented on #1238
@kyeno I didnt follow everything, but should some doc be improved ?

[2020-10-04 09:53] kyeno commented on #1238
@VincentLanglet Nope. In fact it's a bug in another bundle. Sonata is good. 👍

[2020-10-10 16:55] #1234 closed

[2020-10-14 14:50] wbloszyk opened #1255 "[POC] Remove FOSUserBundle inheritance"
## Feature Request

FOSUserBundle is dead: FriendsOfSymfony/FOSUserBundle#2874 (comment).
This issue is based PR #1253

## FOSUser features
- commands for manage user accout (active, change password, create user, deactive, demote, promote, role)
- controllers to log in, register ... on front site
- events and listener - to do things like authenticate user, update cannonical data
- form - from type

[2020-10-14 14:51] wbloszyk commented on #1255
@sonata-project/contributors are you agree with this?

[2020-10-27 16:47] bmaziere opened #1265 "sonata_user_already_authenticated no longer translated"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Translation key sonata_user_already_authenticated in flash message isn't translated anymore

## Steps to reproduce
login once, then return on /login, flash message will appear with sonata_user_already_authenticated untranslated

## Expected results

sonata_user_already_authenticated

[2020-10-27 17:12] VincentLanglet commented on #1265
I would say it's 100% related.

The code should be now
[code]
Could you provide a PR ?

[2020-10-28 10:02] bmaziere commented on #1265
thx for your reply @VincentLanglet. will do surely!

[2020-10-30 12:01] eerison opened #1270 "TwoStepVerificationCommand using deprecated class"
### Environment Dev

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

The "Sonata\UserBundle\Command\TwoStepVerificationCommand" class extends "Symfony\Bundle\FrameworkBundle\Command\ContainerAwareCommand" that is deprecated since Symfony 4.2, use {@see Command} instead.

[2020-10-31 22:56] #1265 closed

[2020-11-02 08:40] eerison commented on #1270
if anyone is working on that, I can open an MR fixing it.

[2020-11-09 14:24] #1270 closed

[2020-11-09 15:51] eerison opened #1274 "Bug in TwoStepVerificationCommand"
After this #1272 pass, I generate a bug, sorry for this!

It's trying to inject null
https://github.com/sonata-project/SonataUserBundle/blob/c4a3fb7bf51d047fff93eb3198bb6d1d91a88e53/src/Resources/config/command.xml#L6

as there isn't **GoogleAuthenticator** in my dependency
https://github.com/sonata-project/SonataUserBundle/blob/c4a3fb7bf51d047fff93eb3198bb6d1d91a88e53/src/Resources/config/google_

[2020-11-09 16:04] eerison commented on #1274
Maybe add Helper as nullable and check this parameter?

https://github.com/sonata-project/SonataUserBundle/blob/c4a3fb7bf51d047fff93eb3198bb6d1d91a88e53/src/Command/TwoStepVerificationCommand.php#L41

other solution I guess could be create an `HalperInterface` and put an default helper here ....

[2020-11-09 16:21] VincentLanglet commented on #1274
Now i understand the line
[code]

You should update the construct to
[code]

And then you should keep the check at the beginning on the command
[code]

[2020-11-09 16:27] eerison commented on #1274
@VincentLanglet do you think, this is necessary `null === $this->userManage` ?
Because we have UserManager in  user-bundle, then always it'll exist!

[2020-11-09 16:29] VincentLanglet commented on #1274
We don't need to allow `null` as param in the construct then.

[2020-11-17 13:07] #1274 closed

[2020-11-21 15:55] VincentLanglet opened #1283 "Create smaller UserInterface"
## Feature Request

Related to https://github.com/sonata-project/SonataUserBundle/pull/1281

The UserInterface is too big and could be split into smaller one.

An instance related to 2A authentification could be useful, in order to check if the method 'getTwoStepVerificationCode' exists.

[2020-11-23 14:25] Quberik commented on #1255
Great feature! Would be nice to remove FOSUserBundle inheritance.

[2020-11-23 22:44] #1193 closed

[2020-11-24 09:59] phansys opened #1287 "Translation key "sonata.user" is duplicated at `SonataUserBundle.nl.xliff`"
### Environment
"local"

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Translation key "sonata.user" is duplicated at `SonataUserBundle.nl.xliff`.
This issue was introduced at #1271:

https://github.com/sonata-project/SonataUserBundle/blob/4e3c774bd246c19713f7975a1eaed44ac08a7161/src/Resources/translations/SonataUserBundle.nl.xliff#L9-L12

https

[2020-11-24 17:19] #1287 closed

[2021-01-07 09:59] Tadek888 opened #1308 "User registration SonataUserBundle 4"
How can I enable user registration SonataUserBundle 4 ?
In SonataUserBundle 3.X i found routes xml file to create user registration but in 4.X there is no registration file.

SonataUserBundle/src/Resources/config/routing/sonata_registration_1.xml

[2021-01-10 01:11] VincentLanglet commented on #1308
The SonataUserBundle does not provide any registration route anymore.

You should use the FosUser ones https://github.com/FriendsOfSymfony/FOSUserBundle/blob/cf7fe27b2f4e1f298ee6eadf537267f8c9f9b85c/Resources/config/routing/registration.xml

[2021-01-10 01:11] #1308 closed

[2021-01-22 00:08] marhub opened #1317 "Not compatible with doctrine ^2.8"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Your requirements could not be resolved to an installable set of packages.

## Steps to reproduce
install latest symfony 4.4
install sonata admin and doctrine-orm-admin-bundl

[2021-01-22 09:42] Stolek007 commented on #1317
Please, fix

[2021-01-22 10:07] VincentLanglet commented on #1317
You're free to provide a PR to allow doctrine/common: ^3.0 in the composer json and fix what is needed to be fixed.

[2021-01-22 10:09] Stolek007 commented on #1317
composer require sonata-project/user-bundle
Using version ^4.10 for sonata-project/user-bundle
./composer.json has been updated
Running composer update sonata-project/user-bundle
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - sonata-project/user-bundle[4.10.0, ..., 4.10.1] re

[2021-01-22 10:29] VincentLanglet commented on #1317
Not in your project, in the sonata-project/user-bundle one.

[2021-01-23 04:22] erparom commented on #1317
Same here.
Php 7.4
Symfony LTS (4.4)

[code]

[code]

[2021-02-09 08:13] #1317 closed

[2021-02-22 10:46] jordisala1991 opened #1331 "Compatibility with doctrine/common 3.0"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

When upgrading to the latest release of this bundle, I've got an error with the registration of FosUserBundle commands.
The cause is this PR: https://github.com/sonata-projec

[2021-02-22 10:47] jordisala1991 commented on #1331
Maybe @phansys can help here.

[2021-02-22 11:25] jordisala1991 commented on #1331
I think the problem comes from the fact that `SonataUserExtension` only executes on empty cache, and you need to declare class aliases on each request, not only on fresh cache.

Maybe moving the code to the bundle class helps solving the issue

[2021-02-22 13:57] mareckigit commented on #1091
Check your Doctrine Event Listeners/Subscribers. They should by executed after subscribers of SonataDoctrineBundle. To do this reorder bundles in bundles.php or set priority to -1 or less in your Doctrine Listeners/Subscribers.

[2021-02-26 12:03] gansky-alexander commented on #1331
I had same issue for sonata-project/admin-bundle:3.89.1
I changed version to 3.88.0 and it solves the problem.

[2021-02-26 12:05] gansky-alexander commented on #1331
No, i was wrong, after composer all works fine but then issue returns back.
How can i fix it in my code?

[2021-02-27 07:58] Rachidelmahmoudi opened #1336 "Argument 3 passed to FOS\UserBundle\Doctrine\UserManager in sonata-project/user-bundle"
**Hi,
After installing sonata-project/user-bundle I get this issue.**
Argument 3 passed to FOS\UserBundle\Doctrine\UserManager::__construct() must be an instance of Doctrine\Common\Persiste     nce\ObjectManager, instance of ContainerATvBIog\EntityManager_9a5be93 given.
This is my composer :
[code]

[2021-02-27 10:03] phansys commented on #1336
@Rachidelmahmoudi, I think this issue is being addressed in #1332, but in order to confirm, please fill your bug report using the [issue template](https://github.com/sonata-project/SonataUserBundle/blob/4.x/.github/ISSUE_TEMPLATE/Bug.md), including the output of this command: `composer show --latest 'sonata-project/*'`.

[2021-02-28 11:38] Rachidelmahmoudi commented on #1336
Thank you for your response,
**`composer show --latest 'sonata-project/*'`**
[code]
**`php -v`**
[code]

[2021-03-02 09:30] phansys commented on #1331
Until a new version spreading these aliases is released, you can register them manually in your project:

[code]

[2021-03-03 16:53] #1331 closed

[2021-03-03 16:53] #1336 closed

[2021-03-10 16:16] divelopa opened #1338 "admin_app_sonatausergroup_create does not exist"
Apologies if this issue is not a bug, however, I tried going through the application and the web for same issues bot none of the solutions work. I've also posted on [Stackoverflow ](https://stackoverflow.com/questions/66564218/unable-to-generate-a-url-for-the-named-route-admin-app-sonatauseruser-create-a)but haven't got a response.

I renamed my User entity from SonataUserUser to User and since th

[2021-03-10 16:22] wbloszyk commented on #1338
Route is generated by some pattern. After rename your class you MUST:
- update `Admin` service configuraion for this class
- clear cache (remove `var/cache` or use `bin/console cache:clear` in console)

[2021-03-10 16:26] divelopa commented on #1338
I assumed since I'm dev, cache would be cleared

[2021-03-10 16:26] #1338 closed

[2021-03-18 12:35] webdevilopers commented on #1120
I still have the issue with the following packages:

[code]

Refs:
* https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2941
* https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2948

[2021-03-18 12:40] webdevilopers commented on #1120
Let me correct this. The mapping for this bundle has indeed been fixed:

[code]

But with the packages mentioned above I the the error for the `FosUserBundle` itself:

[code]

[2021-03-18 12:41] webdevilopers commented on #1120
I linked the following issue there: https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2948
Maybe this is just a matter of package versions?

[2021-05-18 13:09] matjaz321 opened #1354 "Not compatible with twig 3"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Twig packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
- This package can't be installed for projects that are using twig 3.3 and symmfony core 5.2

[2021-05-29 15:32] #1255 closed

[2021-06-06 17:41] VincentLanglet commented on #1354
This bundle rely on https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/composer.json which doesn't support twig 3 and is not maintained anymore.

To add Symfony 5 and Twig 3 support we have to remove this dependency. This is a lot of work and can only be done in master.

[2021-07-23 11:46] IlyasKereibayev commented on #878
This makes it work
if($this->isCurrentRoute('edit') || $this->getRequest()->get('_route') === 'sonata_asadmin_append_form_element'))

[2021-08-06 16:45] dcatz opened #1358 "No metadata found for property CoreBundle\\Entity\\User::$username"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### Doctrine packages

[code]

#### PHP version

[code]

## Subject

When trying to access the User admin panel and I get the following error:

[code]

## My Configuration

#### doctrine.yaml

[code]

#### fos_user.yaml

[code]

#### User.php
(User Entity extending from FOS\UserBundle\Model\User)

[code]

## Steps to reproduce

Install

[2021-08-08 13:23] Daniel-Yonkov opened #1359 "Issue with website SSL"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
Cloudflare has disabled access to the documentation for the library due to SSL expiration

## Minimal repository with the bug

## Steps to reproduce
Visit [documentation page]

[2021-08-12 15:21] dcatz commented on #1358
I have managed to fix it by manually setting FOSUserBundle mappings for my other connection (sa)

[code]

[2021-08-12 15:21] #1358 closed

[2021-09-07 13:28] Bilge opened #1403 "Upgrading causes Model class "My\User" does not correspond to manager type "orm""
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Upgrading from Symfony 2.8 -> 3.4 necessitates upgrading `sonata-project/user-bundle` 3.6.0 -> 4.1.1. However, this triggers the following error:

Model class "My\User" does

[2021-09-07 14:00] VincentLanglet commented on #1403
Just extends the BaseUser, since this class already extends `\FOS\UserBundle\Model\User`.

[2021-09-07 14:05] Bilge commented on #1403
An astute observation! Unfortunately, the Sonata base user comes with a whole bunch of extra columns we do not want to support. For example, we already have a `created` column, we do not want it duplicated by `createdAt`. I imagine we wouldn't want all of that social stuff or most of the rest of it, either. Why did it suddenly become a hard requirement to have 17 specific personal information fiel

[2021-09-07 14:07] VincentLanglet commented on #1403
Because if the column doesn't exist, we cannot display it https://github.com/sonata-project/SonataUserBundle/blob/4.x/src/Admin/Model/UserAdmin.php#L91

Instead of creating your own `created` column you have to use the one provided by the bundle.
If you want to use you own class, your own admin, etc. You can just creating your own admin and not using this bundle.

[2021-09-07 14:09] Bilge commented on #1403
Considering the entire admin backend seems to be propped up by this maze of Sonata packages, I don't think simply *not using the bundle* is really an option. I can see it being a possibility to migrate `created` -> `createdAt`, but it doesn't really answer what we're supposed to do with adding 17+ columns to an already oversized table, none of which we actually need. Why isn't it customizable?

[2021-09-07 14:17] VincentLanglet commented on #1403
Still, this bundle is optional ; for instance I use sonata packages and don't use this one.

I would say it's because
- this would be tons of extra works,
- this was never needed
- this bundle is optional

[2021-09-07 14:30] jordisala1991 commented on #1403
For now they are required. Probably on next SonataUserBundle they will be removed, but that is not happening soon (maybe in 1-2 months).

As @VincentLanglet said, the bundle is optional. I moved from using it, to implement my own system too, it is not that hard.

[2021-09-07 14:51] Bilge commented on #1403
My mistake, then. I assumed this bundle was needed by the Sonata ecosystem, but it is not required by Sonata admin. I am sure it would not be difficult to forego this bundle when starting from scratch, but when it is deeply ingrained into an existing system, simply removing it will be much more difficult. Hence why I am loathe to see we are suddenly forced to accept a ton of new columns as part of

[2021-09-08 10:19] #1403 closed, assigned to nobody

[2021-10-08 11:01] dein1984 opened #1419 "Version 4.12.0's requires sonata-project/admin-bundle: 3.76"
Hi,

Version 4.12.0 supports PHP8, but it requires sonata-project/admin-bundle 3.76 which only supports PHP7.3. Can the dependency on sonata-project/admin-bundle be changed to support version 4.0.1 please? Thanks.

[2021-10-08 11:07] core23 commented on #1419
Feel free to provide a PR @dein1984

[2021-10-08 13:43] VincentLanglet commented on #1419
The SonataUser bundle is currently not compatible with the Sonata 4 bundle. You can only use Sonata 3 version, but you can bump the version you use.

[2021-11-09 18:41] zx86496790 commented on #1419
Hi @VincentLanglet I got the same issue as well,
Do you mean to use sonataadmin sonatauser both in version 3? seems sonataadmin3 is not compatible with symfony 5.3
could you please share some information on the latest compatible version combination of symfony sonatadmin sonatauser ? thank you very much.

[2021-11-09 18:44] VincentLanglet commented on #1419
The combination can be found in the composer.json.
SonataUser is only compatible with symfony 4.

One on the main reason is the fact that FosUser is not compatible with symfony 5
https://github.com/FriendsOfSymfony/FOSUserBundle/blob/v2.2.2/composer.json

[2021-11-09 20:26] zx86496790 commented on #1419
Hi @VincentLanglet , thank you very much for your quick reply.
I tried to install symfony 4.4 instead. after the installation, I tried to install sonata user bundle and got this error:
The child node "db_driver" at path "fos_user" must be configured.
then I followed this link
https://stackoverflow.com/a/49034641  to create fos_user.yaml
and  I got this error:
The service "fos_user.mailer.default"

[2021-11-10 11:17] Hanmac commented on #1419
@zx86496790 config for fos_user to get it starting, because i had a similar problem:

[code]

[2021-11-10 15:18] zx86496790 commented on #1419
Hi @Hanmac , thank you for your reply. This time I installed symfony first. and configure fos_user.yaml. this time I got the following error:
 The service "fos_user.mailer.default" has a dependency on a non-existent service "templating".
did you have this problem?

[2021-11-10 15:35] Hanmac commented on #1419
@zx86496790
yeah i had that too and like you linked, i needed this in `framework.yaml`

[code]

[2021-11-10 15:41] zx86496790 commented on #1419
Hi @Hanmac , after framework.yaml.
I got this error:
 The service "sonata.user.admin.user" has a dependency on a non-existent service "sonata.admin.manager.orm".

I searched online and some people say I should use :
composer require sonata-project/doctrine-orm-admin-bundle
to solve the problem.

however when I ran that, i got another error as following:

 There is no extension able to load the con

[2021-11-10 15:57] Hanmac commented on #1419
@zx86496790 for me it helped to "composer require" both "sonata-project/user-bundle" and "sonata-project/doctrine-orm-admin-bundle=3.35.0" at the same time

[2021-11-10 18:59] zx86496790 commented on #1419
Hi @Hanmac  I got this error when I tried to install

Thank you very much for your help. this version did not give me any errors so far

[2021-11-15 20:12] zx86496790 commented on #1419
Hi @Hanmac , I followed sonatauserbundle 4.x document to configure but got the following error:
No entity manager defined for class "App\Entity\SonataUserUser".
My config/packages/doctrine.yaml file has following content:
doctrine:
    orm:
        entity_managers:
            default:
                mappings:
                    SonataUserBundle: ~
                    FOSUserBundle: ~
    dbal:

[2021-11-16 18:43] zx86496790 commented on #1419
Hi @VincentLanglet , is there any plan to support role and permission in any other way? or if there is any recommendation on some replacement for symfony 5?

[2021-12-04 09:22] jordisala1991 commented on #1419
We plan to update this bundle ASAP, any help is welcome. It will take some time... in the meantime you can implement your own solution or use other bundle. I have implemented a bundle (that it does not have the same flexibility as the sonata one) to be able to transition to Symfony 5 and Sonata 4:

https://github.com/Runroom/RunroomUserBundle

There is a tutorial on the docs of the SonataAdminBund

[2021-12-07 12:02] Hanmac commented on #1419
@jordisala1991 thanks to know about that RunroomUserBundle ... i was recently switched to https://github.com/nucleos/NucleosUserAdminBundle but i might need to find something new again because it did drop php 7.4 support which i am required to use

the only problem for me is that it uses email for username, i hope i can overwrite that in my project, also it uses email as unique field

[2021-12-10 15:15] jordisala1991 commented on #1419
The 5.x branch is already working with Sonata 4 . Keep in mind it is really unstable and soon it will change more because of the removal of FOSUserBundle. This issue can be closed, because Sonata 4 won't land on SonataUserBundle 4.x

[2021-12-10 15:15] #1419 closed, assigned to nobody

[2021-12-13 16:37] konradmichalik opened #1453 "Roadmap SonataAdmin 4 / Symfony 5"
## Feature Request

Hey,

is there a roadmap or a plan, when its possible to use the SonataUserBundle with the actual SonataAdmin v4 and Symfony v5.3?

Thanks!

[2021-12-13 18:37] VincentLanglet commented on #1453
The master branch is already compatible with Sonata 4.
For Symfony 5, https://github.com/sonata-project/SonataUserBundle/pull/1449 is required since FosUserBundle is not compatible with Symfony 5.

And then, lot of extra work will be needed to have a stable release, like
- Updating the doc
- Bumping phpstan/psalm
- Restricting method/classes
- Removing deprecated code

[2021-12-14 08:56] konradmichalik commented on #1453
Thanks for the fast reply and the good work.

Could you estimate a possible release date for a usable development state?

[2021-12-14 09:20] VincentLanglet commented on #1453
Not really. It depends on time we have, and help we get.

[2021-12-17 15:14] #1112 closed

[2021-12-17 17:21] jordisala1991 commented on #1453
The 5.x branch is already supporting Sonata 4 and Symfony 5.

Keep in mind that no stable release is done, but help testing it and reporting/fixing bugs is always welcome.

[2021-12-17 17:21] #1453 closed, assigned to nobody

[2021-12-20 07:12] karenzio commented on #1077
Just met same problem and get solved after a try.

1. Change your custom UserAdmin to directly extends Sonata\AdminBundle\Admin\AbstractAdmin instead
2. Copy and fit in all necessary things to your custom UserAdmin from Sonata\UserBundle\Admin\Model\UserAdmin

Then the validate function will works properly.

Hope this would help someone in the future :)

[2021-12-21 11:16] konradmichalik commented on #1453
Thanks for the fast support, we'll try the branch and will report feedback/fix problems, if we find bugs.

[2021-12-23 13:13] faker-ben-ali opened #1464 "Error when we install bundle symfony 5.4"
When we try ti install User bundle ( branch dev-5x) - symfony 5.4 we get this error
**In SonataUserExtension.php line 171 :Notice: Undefined index: address**

[2021-12-23 13:19] VincentLanglet commented on #1464
Please fill the issue template correctly or this issue will be closed

[2021-12-23 14:34] faker-ben-ali commented on #1464
done.

[2021-12-23 15:05] jordisala1991 commented on #1464
You need to configure like this:

https://github.com/sonata-project/SonataUserBundle/blob/967759a231161605e49e61b01931188139b04db2/tests/App/Resources/config/config.yml#L63

Some docs are probably missing and some configuration might be wrong, because those fields are required for now.

[2021-12-23 15:07] VincentLanglet commented on #1464
Config is
[code]

Do we have to remove `->addDefaultsIfNotSet()` under the `email` node @jordisala1991 ?

[2021-12-23 15:09] jordisala1991 commented on #1464
Adding some test for wrong configuration might help catching the problems.

[2021-12-27 13:08] #1283 closed

[2021-12-27 13:50] jordisala1991 opened #1465 "Roadmap to 5.0"
## Feature Request

There are more things to do for 5.0:

- [x] Avoid using parameters on container as much as possible
- [x] User form types instead of hardcoded forms
- [x] Html support in email
- [x] Fix UserAdmin only change password (add tests similar to MediaBundle)
- [x] Add commands (adapt commands from FOSUserBundle)
- [x] Psalm level 2
- [x] Deprecate/Remove Groups feature
- [x] Update d

[2022-01-09 18:39] jordisala1991 commented on #1464
Should be better now

[2022-01-09 18:39] #1464 closed, assigned to jordisala1991

[2022-01-13 13:26] andyhobbs commented on #1465
Will be Groups feature in another bundle?

[2022-01-13 13:45] jordisala1991 commented on #1465
If you just need to group some roles you can use roles_hierarchy from symfony already.

If you need some more complex solution, you might take a look at voters. The groups feature was not a good solution since it forces always a query to check for the groups roles, it wont be provided by Sonta (you can still reimplement it by yourself if you really need to)

[2022-01-26 15:39] grthi opened #1483 "Password do not work in admin form login after upgrade to 5.x-dev"
Hello, Im upgrading from sonata user bundle from version "4.5.3" to this new "5.x-dev"

I have replace this part in security.yaml

With this new code

So I must have continue to use same "bcrypt" encoding like before.
But I have password not working anymore to login in BO with existing admin accounts,

Have we a command to reinit them? Or what is the process?

I do not find information about this,

[2022-01-30 16:13] jordisala1991 commented on #1483
This is how it worked with FOSUser: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Util/PasswordUpdater.php

Can you check with https://github.com/sonata-project/SonataUserBundle/pull/1484 to see if you can create an admin (with the roles needed) via CLI commands and if you are able to log in with it.

This way we can be sure this is a problem with how was the password generated wit

[2022-01-30 21:44] VincentLanglet commented on #1094
Shouldn't this issue be closed since we're using the `html` method of SymfonyMailer now @jordisala1991 ?

https://github.com/sonata-project/SonataUserBundle/blob/3ffcd23b676292ab474f93b30d9a9ae94a2ee193/src/Mailer/Mailer.php#L79

[2022-01-31 08:00] jordisala1991 commented on #784
Most of those forms are already gone. The only one that makes sense to migrate to a formType is the reset password request. #1489

[2022-01-31 08:15] grthi commented on #1483
So finally I have use the bo interface for forgot password to can be able to login in BO.

But thanks, for the #1484, it must do what I need.

I close this so.

[2022-01-31 08:17] #1094 closed

[2022-01-31 08:19] jordisala1991 commented on #1483
Do not close please, I would like to take a look at why the password set previously with FOSUser does not work with the new version.

Do you know what changes in the database between a non working password and a working one? (same password)

[2022-02-02 09:59] #784 closed

[2022-02-03 07:54] jordisala1991 commented on #1465
After #1490 we are almost there

Things missing:
* Fixing translations (we have to migrate some translations from FOSUser on other languages, and check if there are placeholder translations and things like that)
* Improving documentation for Symfony 5 / 6 (security system is different so we might provide configuration with both Symfony versions)

Even though we have a lot of functional tests and I

[2022-02-03 08:20] VincentLanglet commented on #1465
I totally agree with you

The alpha could be a way to have more early-tester and confirm the issue or get help on it.

[2022-02-03 08:34] jordisala1991 opened #1491 "Make reset password optional"
## Feature Request

It would be nice to enable / disable reset password and avoid dependencies with mailer.

Extracted from: #1465

[2022-02-03 08:37] jordisala1991 commented on #1465
I have extracted the reset password optional feature and merged the last PR.

To me we are ready for an alpha to see if there is a real problem with those passwords.

[2022-02-03 20:52] VincentLanglet commented on #1465
We just need to generate the changelog then

[2022-02-14 16:56] supersmile2009 opened #1499 "Using this bundle without SonataAdminBundle"
Hi.
Would making the SonataAdminBundle an optional dependency for v5 be something you could consider? It wouldn't be a BC break, since v5 is still in pre-release. And I could volunteer to implement the necessary changes.
In fact running it without the Admin bundle was possible with v4 with a bit of trickery in composer.json. But service configuration in v5 makes things a bit more complicated. The

[2022-02-14 18:05] core23 commented on #1499
I'm not a big fan of optional dependencies. They can bring complex problems, e.g. if you want sonata admin functionality, but not for the user bundle. The user bundle could restrict you from installing the latest bundle.

That's why I forked this project and the FOSUserBundle. If you're interested in smaller, atomic feature bundles, you can try this:
- https://github.com/nucleos/NucleosUserBundle

[2022-02-14 18:12] VincentLanglet commented on #1499
The SonataAdminBundle is already an optional dependency of
- SonataMediaBundle https://github.com/sonata-project/SonataMediaBundle/blob/4.x/composer.json
- SonataClassificationBundle https://github.com/sonata-project/SonataClassificationBundle/blob/4.x/composer.json

So I think it's not a bad idea to do the same for the SonataUserBundle and I would say PR are welcomed.

WDYT @jordisala1991 ?

[2022-02-14 18:14] jordisala1991 commented on #1499
I was about to look at the same info. If that is the case for others, PRs welcome indeed.

[2022-02-16 08:10] jordisala1991 commented on #1465
Besides the problem solved in #1500 it works good on a Symfony 6 with new security system so far. I have tested the password migration from RunroomUserBundle but didn't had the time to test it coming from FOSUserBundle (I might need some help with that)

[2022-02-17 13:45] #1499 closed, assigned to nobody

[2022-02-22 08:03] jordisala1991 commented on #1465
I have tested for the old security system, it works too. You need to make sure you disable:

[code]

And enabled anonymous:

[code]

[2022-02-22 08:34] VincentLanglet commented on #1465
So we just need to update the doc before the next release ?

[2022-02-22 08:51] jordisala1991 commented on #1465
There are 3 things missing:

- Add missing translations for rest of languages (FOSUser)
- Test migration from SonataUser v4 to v5 (previous user data works) (4.4)
-  Improve documentation for Symfony 5/6 installs

[2022-02-22 14:30] 4c0n commented on #1465
I might be able to test the migration from v4 to v5 soon, hopefully this week or the next.

[2022-02-23 08:22] jordisala1991 commented on #1465
I did a test for the migration from SF 4.4 Sonata 3 to SF 4.4 Sonata 4 (including migration from SonataUserBundle 4 to 5).
My steps was:

* Clean composer.json with only flex
* Install framework-bundle, sonata-user, sonata-admin and sonata-doctrine-orm
* Configure all bundles with the security part, entities and all, using bcrypt for the password
* Create the database and a user with `console fos:

[2022-02-23 08:22] jordisala1991 commented on #1483
Closing for now, since I can't reproduce on fresh upgrades form SonataUserBundle 4 to 5.

See: https://github.com/sonata-project/SonataUserBundle/issues/1465#issuecomment-1048540171

[2022-02-23 08:22] #1483 closed, assigned to nobody

[2022-02-23 08:24] jordisala1991 commented on #1465
Since we are only missing translations and docs, we might do an RC release? wdyt @VincentLanglet , or should we wait for translations at least?

[2022-02-23 08:40] VincentLanglet commented on #1465
I would say that having translations could be better for a RC

[2022-03-03 19:21] ec-ecss opened #1516 "The child config "resetting" under "sonata_user" must be configured."
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug

## Steps to reproduce

`composer require sonata-project/user-bundle:^5.0.0-rc.1`

Result:

[code]

Full stack :

[code]

Note: No file confi

[2022-03-03 20:25] jordisala1991 commented on #1516
There is no flex recipe for the bundle atm. Also docs needs some update, but there is no bug here, you need to follow the error message and configure the bundle.

[2022-03-03 20:27] jordisala1991 commented on #1516
You might want to take a look at: https://github.com/Runroom/archetype-symfony/blob/main/config/packages/sonata_user.yaml for some basic defaults.

[2022-03-03 20:27] #1516 closed, assigned to nobody

[2022-03-13 03:48] fkrauthan opened #1519 "Expose role matrix as standalone component"
## Feature Request

I was trying to just use the role matrix for my sonata admin (but running my own user system). But it seems like I need to setup a lot of things I never use just for that. Is there any chance that the role matrix system can be extracted as standalone component?

[2022-03-13 07:48] #1465 closed, assigned to nobody

[2022-03-13 08:29] Hanmac commented on #1519
you mean as still Sonata Admin related Component or as totally standalone one?

[2022-03-13 18:30] fkrauthan commented on #1519
Primarily as Sonata Admin related component (as it is directly tied into Sonata Admin's role management).

[2022-03-13 18:53] jordisala1991 commented on #1519
Not sure if that's a completely good idea... I explain:

* A standalone component won't be so standalone since it requires SonatAdminBundle in the first place, which is a huge dependency
* That leaves us with only one option is we want to move it outside SonataUserBundle -> move it to the SonataAdminBundle
* Not sure if we want to add that much code into it, since it is already a big bundle

Other

[2022-03-13 19:02] VincentLanglet commented on #1519
I don't fully understand the feature request. What is the role matrix system ?
Do you mean the RolesMatrixType ? And then if I look at the uses:
- MatrixRolesBuilderInterface
- MatrixRolesBuilder
- ExpandableRolesBuilderInterface
- PermissionLabelsBuilderInterface
- AdminRolesBuilderInterface
- AdminRolesBuilder
...
I feel like it's half of the project.

I think the second option could be interest

[2022-03-13 20:38] Hanmac commented on #1519
instead of putting the code into the AdminBundle, we could move that part into a total new one

the only concern is what to do with the parts in this bundle, i mean it wouldn't be a problem to remove the stuff there and let the UserBundle depend on the new Matrix Bundle.

~~The only thing, it is probably too late to do it for the 5.0 release, and i don't see such a BC being done in a 5.* one eithe

[2022-03-13 20:41] VincentLanglet commented on #1519
The sonata-project team is small and new repository means extra work.
We deprecated many of them, it's not to create new one now IMHO.

[2022-03-13 21:09] fkrauthan commented on #1519
I understand that. But in theory this part could be easily shipped as part of the main admin bundle. The role component (including styling/templates) is not specific to any user implementation. But most people using this (ether with FOSUserBundle which is deprecated, some other user bundle or there own implementation) will need that role selection for any type of more complex admin use-case.

To m

[2022-03-13 21:17] VincentLanglet commented on #1519
I personally doesn't use the SonataUserBundle, so I don't use the roleMatrix things of this bundle. Lot of people are using SonataAdmin without SonataUser ; so I'm not sure we can say that "most people using this will need that role selection".

Like I said, we might make this bundle having less mandatory configuration.

[2022-03-13 21:20] fkrauthan commented on #1519
@VincentLanglet Yeah that is exactly my point. Many people use SonataAdmin without SonataUser and probably build there own role selection :)

Anyways yeah having less mandatory configuration and being able to ignore the SonatUser shipped admin class would definitely solve my feature suggestion.

[2022-03-16 13:43] Saerdn opened #1523 "User Bundle + Sonata Admin: No redirect to login form when opening /admin/dashboard without being logged in"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
I'm trying to connect the Sonata User Bundle with the Sonata Admin Bundle to secure the admin with a login. I followed the documentation (https://docs.sonata-project.org/proje

[2022-03-16 15:40] VincentLanglet commented on #1523
Ping @jordisala1991

[2022-03-17 08:06] jordisala1991 commented on #1523
I couldn't reproduce the problem in one of my projects. Mind to share your full configuration to see if something is missing?

(Or if you have a reproducer it would be easier)

[2022-03-17 11:12] Saerdn commented on #1523
Yes I'll create a repo

[2022-03-23 11:25] Hanmac opened #1525 "UserProvider: add way to disable (ByEmail) part"
For one Project i need a way to have two or more users have the same email but different user names. i disabled the database unique field.

But i need to mess with the Sonata User Provider so make it usable to get the User by Email when provided for the Security Segment.
Sadly most of the classes are final, or the methods private, and i don't think i can use a Service Decorator there.

[2022-03-23 12:08] VincentLanglet commented on #1525
To me, this can be done with service decorator, by implementing your own UserProvider and ask Symfony to use it instead of the one provided by Sonata

cf: https://symfony.com/doc/current/service_container/service_decoration.html
[code]

[2022-03-23 12:55] Hanmac commented on #1525
like i said, if i try to decorate the UserProvider, i can't get the sonata User Data because the methods i would need to overwrite are private.

but i think i found the solution, if i decorate the UserManager and make `findUserbyUsernameOrEmail` just call `findUserByUsername` regardless it should work.

[2022-03-23 13:25] #1525 closed, assigned to nobody

[2022-04-29 08:15] Mysak007 opened #1532 "Cannot log in after upgrade to symfony 5.4"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Cannot login to admin after upgrading to sonata admin v. 4.11 and user bundle v.5.
I upgraded from symfony v4.4, old FOSUser bundle, and followed all setting in documentation

[2022-05-06 07:37] Hanmac opened #1535 "ROLE_USER in RoleMatrixType visible without effect"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug
Have SonataUserBundle installed in SonataAdminBundle

## Steps to reproduce
* Edit a User that doesn't has Super Role and try to add the `R

[2022-05-09 15:00] Hanmac commented on #1535
@VincentLanglet your opinion on this? or one of the other devs?

[2022-05-09 15:06] VincentLanglet commented on #1535
I don't understand the issue.

cc @jordisala1991

[2022-05-10 08:02] Hanmac commented on #1535
The Core Issue is that the RoleMatrixType is showing ROLE_USER but it shouldn't.

[2022-07-12 16:19] VincentLanglet commented on #1519
@fkrauthan What are the mandatory configuration which blocks you ? We're open to PR to make them optional

[2022-07-12 16:29] fkrauthan commented on #1519
I am no longer using this bundle but I believe the emails setup for example. Pretty much the only thing I was looking to use is this one component which shouldn't require a single config set.

[2022-07-12 16:50] VincentLanglet commented on #1519
I will close then, since I don't think someone will do it ; but if someone else has the same issue PR are welcomed.

[2022-07-12 17:13] fkrauthan commented on #1519
Well I still would like to use the RoleMatrix form component. But if you think that this will never be possible closing it is ok.

[2022-07-12 17:15] VincentLanglet commented on #1519
It's possible if someone provide a PR to make the configuration optional.
But we won't create another repository.

[2022-07-12 17:19] #1535 closed, assigned to nobody

[2022-07-14 19:28] wluijt-endertech opened #1552 "In user-bundle 5.3.0, error: Key "form" for array with keys "role, role_translated, is_granted" does not exist."
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

The error can also be: `Symfony\Component\Form\FormRenderer::searchAndRenderBlock(): Argument #1 ($view) must be of type Symfony\Component\Form\FormView, null given`

This se

[2022-07-14 20:54] VincentLanglet commented on #1552
Hi, do you know how it's related to the excluded_role PR ? I take a look at the and this seems weird to me.

IMHo, before adding a default check, we should understand the reason

[2022-07-14 21:33] wluijt-endertech commented on #1552
Well in my case, as I view a user edit form page, when I compared the working 5.2.0 version locally (and on a production server) against the 5.3.0 version which seemed to show an issue, there weren't many executable code changes really besides that one (https://github.com/sonata-project/SonataUserBundle/compare/5.2.0...5.3.0).

I suppose one other place to check would be the `src/Twig/RolesMatrixE

[2022-07-14 22:59] VincentLanglet commented on #1552
Oh I see, it's certainly related to the extension. Since the role is excluded there is no form added for this one.

[2022-07-19 20:41] #1552 closed, assigned to nobody

[2022-07-20 08:16] Hanmac opened #1555 "Use SensitiveParameter for password and others"
## Feature Request

similar to this: https://github.com/symfony/symfony/commit/4a31363c3c9be2192e757c3a32a7e3a90874a2cb

Should/Could we mark password params/fields as Sensitive?

i don't know if the same is true for object there, or if we can mark the attribute as Sensitive instead of the whole object:
[code]

checking the Attribute again, it only works on parameters for a function, not on attrib

[2022-10-06 10:01] piddubnij opened #1571 "The ROLE_PREVIOUS_ADMIN role is deprecated"
## Subject
Since symfony/security-core 5.1: The ROLE_PREVIOUS_ADMIN role is deprecated and will be removed in version 6.0, use the IS_IMPERSONATOR attribute instead.

https://github.com/sonata-project/SonataUserBundle/blob/67636046c34a3b6d68fd48b0c88f9940c53d1303/src/Resources/views/Admin/Core/user_block.html.twig#L18

This deprecation for symfony 5.x and not present in 6.x, however with symfony 6

[2022-10-13 10:52] Hanmac commented on #1491
I'm currently brainstorming about this one, where i try to think of the possible constellations and how they should react:

* first it should check if there are resetting values, if not, then a big chunk doesn't need to be configured.
  * there doesn't need to be reset routes, and the link in template doesn't need to be there either
  * without resetting there doesn't need to be sonata user mailer

[2022-10-14 11:41] mischabraam commented on #1516
Instead of closing the issue, you might want to add a flex recipe? Or update the docs? A developer can loose a lot of time trying to find a solution.

[2022-10-25 13:01] landure opened #1578 "SonataUserBundle does not register UserListener with doctrine_mongodb.odm.event_subscriber"
### Environment

Ubuntu 22.04 Jammy Jellyfish

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

When the SonataUser is stored in MongoDB, canonicalEmail and canonicalUsername are not updated at User creation. It is impossible to login in So

[2022-10-26 15:33] Hanmac commented on #1578
@jordisala1991 while looking at the Listener class, is this really needed?
https://github.com/sonata-project/SonataUserBundle/blob/5.x/src/Listener/UserListener.php#L88-L100

i checked the code for doctrine to see where recomputeSingleEntityChangeSet and recomputeSingleDocumentChangeSet are called

and it seems these two functions are called after the PreUpdate Event anyway, so why do they need to

[2022-10-27 07:02] landure opened #1579 "SonataUserBundle validator.xml does not adapt to MongoDB use"
## Environment

Ubuntu 22.04 Jammy Jellyfish

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

When using MongoDB with multiple databases as a storage for Sonata User document (using a non default manager), it is impossible to add a new use

[2022-10-27 07:05] landure commented on #1579
In addition to this bug report, i've asked for a solution at  [SonataUserBundle with multiple doctrine database: Validators uses default doctrine manager, not the one for the User class](https://stackoverflow.com/questions/74209900/sonatauserbundle-with-multiple-doctrine-database-validators-uses-default-doctri).

[2022-10-27 07:25] Hanmac commented on #1579
probably needs to be split ala this in fos user bundle:

https://github.com/FriendsOfSymfony/FOSUserBundle/tree/master/Resources/config/storage-validation

[2022-10-27 07:29] VincentLanglet commented on #1579
Can you provide a Pr ?

[2022-10-27 08:16] Hanmac commented on #1579
@VincentLanglet i can make PRs for this, i just need to think if we do extra test cases, currently we don't have extra MongoDB tests?

[2022-10-27 08:42] landure commented on #1579
Hi, I've made the needed changes in a fork. See this commit :  [Add storage aware validation for User.](https://github.com/sonata-project/SonataUserBundle/commit/a0aa065c2193c7a833fff6ea794f030367397736).

The changes works when integrated in my code.

Unfortunately, I'm not able nor do I have the time to run (and fix) the unit tests for the changes. I hope my changes can help you fix this issue.

[2022-10-27 08:59] VincentLanglet commented on #1579
Yes we don't have mongoDB tests.
But since the kernel is selected here: https://github.com/sonata-project/SonataUserBundle/blob/5.x/tests/custom_bootstrap.php#L20
And we cannot have multiple users class here https://github.com/sonata-project/SonataUserBundle/blob/5.x/tests/App/Resources/config/config.yaml#L66
I dunno if we can have easily both ORM and MongoDB tests.

@jordisala1991 Do you see an e

[2022-10-27 10:12] haivala opened #1580 "Admin list does not have edit button"
Same as this
https://github.com/sonata-project/SonataClassificationBundle/issues/872

[2022-10-27 14:19] haivala commented on #1519
RoleMatrix form component is the only thing I would need from this bundle. What happens now is that I'm giving the roles manually and it is not optimal.

I'm guessing that people who have maintained some project for long time have built their own user system for Symfony 4 because of FOSUserBundle deprecation. Now that system is only missing this RoleMatrix form component and this is why people are

[2022-11-02 09:05] #1532 closed, assigned to nobody

[2022-11-19 18:53] TomaszFilipek opened #1582 "To delete (wrong repository)"
To delete (wrong repository)

[2022-11-19 19:32] TomaszFilipek opened #1583 "Incorrect display acl privileges grid, when exists two admin entity with the same name (in other groups)."
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
Incorrect display acl privileges grid, when exists two admin entity with the same name (in other groups).

## Steps to reproduce
Create two admin entity with the same name.
Fo

[2022-11-19 19:33] #1582 closed, assigned to nobody

[2022-11-20 14:56] VincentLanglet commented on #1583
There is already to much attribute IMHO
Moreover acl should become optional https://github.com/sonata-project/SonataAdminBundle/issues/7303
So I don't think that's the right solution.

To me the original issue https://github.com/sonata-project/SonataUserBundle/issues/1582 was the correct one.

This is an issue for SonataUserBundle.
In the twig extensions roles are grouped by a non-unique value htt

[2022-11-21 09:38] TomaszFilipek commented on #1583
@VincentLanglet thank You for reply.

I thought of yet another solution.

What do you think about the solution to add the group name to the label?
This will not require setting additional labels for each admin entity.

This requires two changes.

**1. Add admin group name in return array in `getRoles` function**

/src/Security/RolesBuilder/AdminRolesBuilder.php

[code]

  **2. Change key in array

[2022-11-21 10:02] VincentLanglet commented on #1583
This seems a nice improvement which avoid BC-break. So let's go with this then :)
Do you want to provide the PR ?

(Be aware our coding standard forbids `empty`)